.wrap_tim_navbar {
    .upper-navbar-tim {
        height: 36px;
        background-color: #fff;

        .upper-option {
            color: #0033a2;
            font-size: 12px;
            width: 10%;
            margin-top: 13.7px;
            text-decoration: none;
           
        }
        &.option-active {
            font-weight: bold;
        }

        .option-active::after {
            vertical-align: 0.255em;
            content: "";
            border-top: 0.5em solid transparent;
            border-right: 0.5em solid transparent;
            border-bottom: 0.5em solid;
            border-left: 0.5em solid transparent;
            margin-left: -30px;
            margin-bottom: -17px;
        }
    }
}

.navbar-tim {
    background-color: #004490;
    width: 100%;
    height: 64px;

    .tim-logo {
        max-height: 62px;
    }

    .navbar-items {

        .item {
            flex-direction: column;
            font-weight: 500;

            font-size: 16px;
            color: #fff;
            text-decoration: none;

            .logo-carrello {
                height: 20px;
            }
        }

        .item:last-child {
            flex-direction: unset;
            display: flex;
            justify-content: center;
            background-color: #03d0d3;
            color: black;
            height: 64px;
            min-width: 172px;


            .user-logo {
                height: 20px;
                margin-top: 22px;
            }
        }

        .item:last-child span {
            margin-top: 20px;
        }
    }
}

.under-navbar {
    position: relative;
    height: 64px;
    background-color: #fff;

    .under-navbar-items {

        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .under-navbar-item {
            width: 100%;
            position: unset;
            font-weight: 500;
            height: 100%;

            .under-nav-togg {
                height: 100%;

                &.active {
                    color: #004490;
                    font-weight: bold;
                    border-bottom: 2px solid #004490;
                }
            }

            .under-nav-drop {
                position: absolute;
                width: 100%;
                padding: 0px;
                margin-top: -3px!important;
                a {
                    text-decoration: none;
                    color: black;
                }

                .drop-result {
                    background-color: #fff;
                    border: 1px solid rgb(173, 173, 173);

                    .btn-accedi {
                        width: 100%;
                        max-width: 130px;
                        margin-top: 49px;
                        background-color: #0033a2;
                        color: white;
                        border-radius: 0px;
                    }

                    .btn-accedi::after {
                        display: inline-block;
                        margin-left: 0.255em;
                        vertical-align: 0.255em;
                        content: "";
                        border-top: 0.3em solid transparent;
                        border-right: 0.3em solid transparent;
                        border-bottom: 0.3em solid transparent;
                        border-left: 0.3em solid;
                    }

                    .digitalStore-column {
                        padding: 0px;
                        padding-left: 144px;
                        padding-top: 44px;
                    }

                    .digitalStore-column h3 {
                        margin-left: -138px;
                    }

                    .option-columns-tim {
                        font-size: 16px;
                        padding: 60px;
                        padding-top: 95px;
                    }

                    .option-columns-tim .row .col {
                        margin-top: 24px;
                    }
                }
            }
        }
    }
}


.drop-result {
    background-color: aliceblue;
    border: 1px solid rgb(173, 173, 173);

    .btn-accedi {
        background-color: #0033a2;
        color: white;
        border-radius: 0px;
    }

    .digitalStore-column {
        padding: 20px;

    }

    .option-columns-tim {
        font-size: 16px;
        padding: 54px;
    }
}