.wrap_tim_navbar {
    .upper-navbar-tim {
        height: 36px;
        background-color: #fff;

        .upper-option {
            color: #0033a2;
            font-size: 12px;
            width: 10%;
            margin-top: 10px;
            text-decoration: none;
        }

        .upper-option::after {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #0033a2;
        }
    }

    .navbar-tim {
        background-color: #004490;
        width: 100%;
        height: 64px;

        .tim-logo {
            max-height: 62px;
        }

        .navbar-items {

            .item {
                flex-direction: column;
                font-weight: 500;

                font-size: 16px;
                color: #fff;
                text-decoration: none;

                .logo-carrello {
                    height: 20px;
                }
            }

            .item:last-child {
                flex-direction: unset;
                display: flex;
                justify-content: center;
                background-color: #03d0d3;
                color: black;
                height: 64px;
                min-width: 172px;


                .user-logo {
                    height: 20px;
                    margin-top: 22px;
                }
            }

            .item:last-child span {
                margin-top: 20px;
            }
        }
    }

    .under-navbar {
        position: relative;
        height: 64px;
        background-color: #fff;

        .under-navbar-items {

            align-items: center;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .under-navbar-item {
                width: 100%;
                position: unset;
                font-weight: 500;
                height: 100%;

                .under-nav-togg {
                    height: 100%;

                   &.active{
                    color:#004490;
                    font-weight: 500;
                   }
                }
                .under-nav-drop {
                    position: absolute;
                    width: 100%;
                    padding: 0px;
                    a{
                        text-decoration: none;
                        color: black;
                    }

                    .drop-result {
                        background-color: #fff;
                        border: 1px solid rgb(173, 173, 173);

                        .btn-accedi {
                            background-color: #0033a2;
                            color: white;
                            border-radius: 0px;
                        }

                        .digitalStore-column {
                            padding: 20px;

                        }

                        .option-columns-tim {
                            font-size: 16px;
                            padding: 54px;
                        }
                    }
                }
            }
        }
    }
}


.drop-result {
    background-color: aliceblue;
    border: 1px solid rgb(173, 173, 173);

    .btn-accedi {
        background-color: #0033a2;
        color: white;
        border-radius: 0px;
    }

    .digitalStore-column {
        padding: 20px;

    }

    .option-columns-tim {
        font-size: 16px;
        padding: 54px;
    }
}

