<div class="upper-navbar-tim">
    <div class="upper-option">Privati</div>
    <div class="upper-option">Business</div>
    <div class="upper-option">5G e la rete</div>
</div>
<div class="navbar-tim">
    <div class="row">
        <div class="col">
            <img src="../../assets/images/tim-logo-01-638x425.png" class="tim-logo" alt="tim logo">
        </div>
        <div class="col">
            <div class="navbar-items">
                <div class="item">Digital News</div>
                <div class="item">Assistenza</div>
                <div class="item"><img src="../../assets/images/carrello.png" class="logo-carrello" alt="carrello">
                </div>
                <div class="item">Cerca</div>
                <div class="item"><img src="../../assets/images/Sample_User_Icon.png" class="user-logo"
                        alt="area clienti"> <span>Area clienti</span></div>
            </div>
        </div>
    </div>
</div>
<div class="under-navbar">
    <div class="under-navbar-items">
        <div class="under-navbar-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fisso e Mobile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="under-navbar-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Digital Store
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="under-navbar-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                IoT e 5G
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="under-navbar-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Soluzioni digitali
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>