<div class="wrap_tim_navbar">
    <div class="upper-navbar-tim">
        <div class="row d-flex justify-content-center">
            <a class="col-4 upper-option ">Privati</a>
            <a class="col-4 upper-option">Business</a>
            <a class="col-4 upper-option">5G e la rete</a>
        </div>
    </div>
    <div class="navbar-tim">
        <div class="row">
            <div class="col-6">
                <img src="../../assets/images/tim-logo-01-638x425.png" class="tim-logo" alt="tim logo">
            </div>
            <div class="col-6 navbar-items d-flex justify-content-between align-items-center">

                <!-- <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="dark-blue-text"><i
                            class="fas fa-bars fa-1x"></i></span></button>

                 Collapsible content 
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                -->
                <a class="item">Digital News</a>
                <a class="item">Assistenza</a>
                <a class="item"><img src="../../assets/images/carrello.png" class="logo-carrello" alt="carrello">
                </a>
                <!--  </div>-->
                <a class="item">Cerca</a>
                <a class="item"><img src="../../assets/images/Sample_User_Icon.png" class="user-logo"
                        alt="area clienti">
                    <span>Area clienti</span>
                </a>
            </div>
        </div>
    </div>
    <div class="under-navbar d-flex">
        <div class="row under-navbar-items">
            <div class="d-flex h-100">
                <div class=" under-navbar-item dropdown w-100 "><a class="nav-link dropdown-toggle  under-nav-togg" href="#"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fisso e Mobile
                    </a>
                    <div class="dropdown-menu under-nav-drop" aria-labelledby="navbarDropdownMenuLink">
                      <div class="drop-result">
    <div class="row d-flex">
        <div class="col-3 digitalStore-column">
          <h3 class="digitalStore-column">Digital Store</h3>
          <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.</p>
          <button type="button" class="btn btn-accedi">Accedi</button>
        </div>
        <div class="col-9 option-columns-tim">
            <div class="row">
                <div class="col">Smart Office</div>
                <div class="col">Sicurezza e privacy</div>
                <div class="col">Digital Marketing</div>
                <div class="col">Backup e Cloud</div>
            </div>
            <div class="row">
                <div class="col">audio e video comunicazione</div>
                <div class="col">Sicurezza</div>
                <div class="col">Analisi dati</div>
                <div class="col">archiviazione</div>
            </div>
            <div class="row">
                <div class="col">collaboration</div>
                <div class="col">nome e certificazione</div>
                <div class="col">promozione e fidelizzazione</div>
                <div class="col">Serve e Cloud</div>
            </div>
            <div class="row">
                <div class="col">Strumenti per l'ufficio</div>
                <div class="col"><b>Gestioneli</b></div>
                <div class="col">Social</div>
                <div class="col"><b>Esperti digitali</b></div>
            </div>
            <div class="row">
                <div class="col">Strumenti Gestione clienti</div>
                <div class="col">CRM gestione Clienti</div>
                <div class="col">wifi Social</div>
                <div class="col">Check up Digitale</div>
            </div>
            <div class="row">
                <div class="col">Geolocalizzazione</div>
                <div class="col">Soluzioni Trasversali</div>
                <div class="col">Web e E commerce</div>
                <div class="col"></div>

            </div>
            <div class="row">
                <div class="col">Monitoraggio</div>
                <div class="col">Soluzioni per settore</div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div- class="row">
                <div class="col">Fatture e pagamenti</div>
                <div class="col">Gestione presenze e Personale</div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>
                    </div>
                </div>
                <div class=" under-navbar-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Digital Store
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class=" under-navbar-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        IoT e 5G
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class=" under-navbar-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Soluzioni digitali
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="drop-result">
    <div class="row d-flex">
        <div class="col-3 digitalStore-column">
          <h3 class="digitalStore-column">Digital Store</h3>
          <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.</p>
          <button type="button" class="btn btn-accedi">Accedi</button>
        </div>
        <div class="col-9 option-columns-tim">
            <div class="row">
                <div class="col">Smart Office</div>
                <div class="col">Sicurezza e privacy</div>
                <div class="col">Digital Marketing</div>
                <div class="col">Backup e Cloud</div>
            </div>
            <div class="row">
                <div class="col">audio e video comunicazione</div>
                <div class="col">Sicurezza</div>
                <div class="col">Analisi dati</div>
                <div class="col">archiviazione</div>
            </div>
            <div class="row">
                <div class="col">collaboration</div>
                <div class="col">nome e certificazione</div>
                <div class="col">promozione e fidelizzazione</div>
                <div class="col">Serve e Cloud</div>
            </div>
            <div class="row">
                <div class="col">Strumenti per l'ufficio</div>
                <div class="col"><b>Gestioneli</b></div>
                <div class="col">Social</div>
                <div class="col"><b>Esperti digitali</b></div>
            </div>
            <div class="row">
                <div class="col">Strumenti Gestione clienti</div>
                <div class="col">CRM gestione Clienti</div>
                <div class="col">wifi Social</div>
                <div class="col">Check up Digitale</div>
            </div>
            <div class="row">
                <div class="col">Geolocalizzazione</div>
                <div class="col">Soluzioni Trasversali</div>
                <div class="col">Web e E commerce</div>
                <div class="col"></div>

            </div>
            <div class="row">
                <div class="col">Monitoraggio</div>
                <div class="col">Soluzioni per settore</div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div- class="row">
                <div class="col">Fatture e pagamenti</div>
                <div class="col">Gestione presenze e Personale</div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>-->