<div class="wrap_tim_navbar" id="wrap-navTim">
    <div class="upper-navbar-tim">
        <div class="row d-flex justify-content-center h-100">
            <a href="javascript:void(0)" class="col-4 upper-option">Privati</a>
            <a href="javascript:void(0)" class="col-4 upper-option option-active">Business</a>
            <a href="javascript:void(0)" class="col-4 upper-option">5G e la rete</a>
        </div>
    </div>
    <div class="navbar-tim">
        <div class="row">
            <div class="col-6">
                <img src="../../assets/images/tim-logo-01-638x425.png" class="tim-logo" alt="tim logo">
            </div>
            <div class="col-6 navbar-items d-flex justify-content-between align-items-center">
                <a href="javascript:void(0)" class="item">Digital News</a>
                <a href="javascript:void(0)" class="item">Assistenza</a>
                <a href="javascript:void(0)" class="item"><img src="../../assets/images/carrello.png"
                        class="logo-carrello" alt="carrello">
                </a>
                <a href="javascript:void(0)" class="item"> Cerca <img src="../../assets/images/search.png" alt="cerca" class="logo-cerca"> </a>
                <a href="javascript:void(0)" class="item"><img src="../../assets/images/Sample_User_Icon.png"
                        class="user-logo" alt="area clienti">
                    <span>Area clienti</span>
                </a>
            </div>
        </div>
    </div>
    <div class="under-navbar d-flex carousel" data-ride="carousel">
        <div class="under-navbar-items">

            <div class="under-navbar-item dropdown tn-group" id="under-togg-test">
                <a href="javascript:void(0)" class="nav-link dropdown-toggle  under-nav-togg" data-bs-toggle="dropdown"
                    href="#" aria-expanded="false">
                    Fisso e Mobile
                </a>
                <div class="dropdown-menu under-nav-drop " onclick="event.stopPropagation()">
                    <div class="drop-result">
                        <div class="row d-flex">
                            <div class="col-3 digitalStore-column">
                                <h3 class="digitalStore-column">Digital Store</h3>
                                <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                                    digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
                                </p>
                                <button type="button" class="btn btn-accedi">Accedi</button>
                            </div>
                            <div class="col-9 option-columns-tim">
                                <div class="row">
                                    <a href="javascript:void(0)" class="col"><b>Smart Office</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Sicurezza e privacy</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Digital Marketing</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Backup e Cloud</b></a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">audio e video comunicazione</a>
                                    <a href="javascript:void(0)" class="col">Sicurezza</a>
                                    <a href="javascript:void(0)" class="col">Analisi dati</a>
                                    <a href="javascript:void(0)" class="col">archiviazione</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">collaboration</a>
                                    <a href="javascript:void(0)" class="col">nome e certificazione</a>
                                    <a href="javascript:void(0)" class="col">promozione e fidelizzazione</a>
                                    <a href="javascript:void(0)" class="col">Serve e Cloud</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Strumenti per l'ufficio</a>
                                    <a href="javascript:void(0)" class="col"><b>Gestioneli</b></a>
                                    <a href="javascript:void(0)" class="col">Social</a>
                                    <a href="javascript:void(0)" class="col"><b>Esperti digitali</b></a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Strumenti Gestione clienti</a>
                                    <a href="javascript:void(0)" class="col">CRM gestione Clienti</a>
                                    <a href="javascript:void(0)" class="col">wifi Social</a>
                                    <a href="javascript:void(0)" class="col">Check up Digitale</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Geolocalizzazione</a>
                                    <a href="javascript:void(0)" class="col">Soluzioni Trasversali</a>
                                    <a href="javascript:void(0)" class="col">Web e E commerce</a>
                                    <a href="javascript:void(0)" class="col"></a>

                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Monitoraggio</a>
                                    <a href="javascript:void(0)" class="col">Soluzioni per settore</a>
                                    <a href="javascript:void(0)" class="col"></a>
                                    <a href="javascript:void(0)" class="col"></a>
                                </div>
                                <div- class="row">
                                    <a href="javascript:void(0)" class="col">Fatture e pagamenti</a>
                                    <a href="javascript:void(0)" class="col">Gestione presenze e Personale</a>
                                    <a href="javascript:void(0)" class="col"></a>
                                    <a href="javascript:void(0)" class="col"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" under-navbar-item dropdown tn-group">
                <a href="javascript:void(0)" class="nav-link dropdown-toggle under-nav-togg" href="#"
                    id="navbarDropdownMenuLink-second" data-bs-toggle="dropdown" aria-expanded="false">
                    Digital Store
                </a>
                <div class="dropdown-menu under-nav-drop " onclick="event.stopPropagation()">
                    <div class="drop-result">
                        <div class="row d-flex">
                            <div class="col-3 digitalStore-column">
                                <h3 class="digitalStore-column">Digital Store</h3>
                                <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                                    digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
                                </p>
                                <button type="button" class="btn btn-accedi">Accedi</button>
                            </div>
                            <div class="col-9 option-columns-tim">
                                <div class="row">
                                    <a href="javascript:void(0)" class="col"><b>Smart Office</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Sicurezza e privacy</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Digital Marketing</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Backup e Cloud</b></a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">audio e video comunicazione</a>
                                    <a href="javascript:void(0)" class="col">Sicurezza</a>
                                    <a href="javascript:void(0)" class="col">Analisi dati</a>
                                    <a href="javascript:void(0)" class="col">archiviazione</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">collaboration</a>
                                    <a href="javascript:void(0)" class="col">nome e certificazione</a>
                                    <a href="javascript:void(0)" class="col">promozione e fidelizzazione</a>
                                    <a href="javascript:void(0)" class="col">Serve e Cloud</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Strumenti per l'ufficio</a>
                                    <a href="javascript:void(0)" class="col"><b>Gestioneli</b></a>
                                    <a href="javascript:void(0)" class="col">Social</a>
                                    <a href="javascript:void(0)" class="col"><b>Esperti digitali</b></a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Strumenti Gestione clienti</a>
                                    <a href="javascript:void(0)" class="col">CRM gestione Clienti</a>
                                    <a href="javascript:void(0)" class="col">wifi Social</a>
                                    <a href="javascript:void(0)" class="col">Check up Digitale</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Geolocalizzazione</a>
                                    <a href="javascript:void(0)" class="col">Soluzioni Trasversali</a>
                                    <a href="javascript:void(0)" class="col">Web e E commerce</a>
                                    <a href="javascript:void(0)" class="col"></a>

                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Monitoraggio</a>
                                    <a href="javascript:void(0)" class="col">Soluzioni per settore</a>
                                    <a href="javascript:void(0)" class="col"></a>
                                    <a href="javascript:void(0)" class="col"></a>
                                </div>
                                <div- class="row">
                                    <a href="javascript:void(0)" class="col">Fatture e pagamenti</a>
                                    <a href="javascript:void(0)" class="col">Gestione presenze e Personale</a>
                                    <a href="javascript:void(0)" class="col"></a>
                                    <a href="javascript:void(0)" class="col"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" under-navbar-item dropdown tn-group">
                <a href="javascript:void(0)" class="nav-link dropdown-toggle under-nav-togg" href="#"
                    id="navbarDropdownMenuLink-third" data-bs-toggle="dropdown" aria-expanded="false">
                    IoT e 5G
                </a>
                <div class="dropdown-menu under-nav-drop " onclick="event.stopPropagation()">
                    <div class="drop-result">
                        <div class="row d-flex">
                            <div class="col-3 digitalStore-column">
                                <h3 class="digitalStore-column">Digital Store</h3>
                                <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                                    digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
                                </p>
                                <button type="button" class="btn btn-accedi">Accedi</button>
                            </div>
                            <div class="col-9 option-columns-tim">
                                <div class="row">
                                    <a href="javascript:void(0)" class="col"><b>Smart Office</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Sicurezza e privacy</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Digital Marketing</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Backup e Cloud</b></a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">audio e video comunicazione</a>
                                    <a href="javascript:void(0)" class="col">Sicurezza</a>
                                    <a href="javascript:void(0)" class="col">Analisi dati</a>
                                    <a href="javascript:void(0)" class="col">archiviazione</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">collaboration</a>
                                    <a href="javascript:void(0)" class="col">nome e certificazione</a>
                                    <a href="javascript:void(0)" class="col">promozione e fidelizzazione</a>
                                    <a href="javascript:void(0)" class="col">Serve e Cloud</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Strumenti per l'ufficio</a>
                                    <a href="javascript:void(0)" class="col"><b>Gestioneli</b></a>
                                    <a href="javascript:void(0)" class="col">Social</a>
                                    <a href="javascript:void(0)" class="col"><b>Esperti digitali</b></a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Strumenti Gestione clienti</a>
                                    <a href="javascript:void(0)" class="col">CRM gestione Clienti</a>
                                    <a href="javascript:void(0)" class="col">wifi Social</a>
                                    <a href="javascript:void(0)" class="col">Check up Digitale</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Geolocalizzazione</a>
                                    <a href="javascript:void(0)" class="col">Soluzioni Trasversali</a>
                                    <a href="javascript:void(0)" class="col">Web e E commerce</a>
                                    <a href="javascript:void(0)" class="col"></a>

                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Monitoraggio</a>
                                    <a href="javascript:void(0)" class="col">Soluzioni per settore</a>
                                    <a href="javascript:void(0)" class="col"></a>
                                    <a href="javascript:void(0)" class="col"></a>
                                </div>
                                <div- class="row">
                                    <a href="javascript:void(0)" class="col">Fatture e pagamenti</a>
                                    <a href="javascript:void(0)" class="col">Gestione presenze e Personale</a>
                                    <a href="javascript:void(0)" class="col"></a>
                                    <a href="javascript:void(0)" class="col"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" under-navbar-item dropdown tn-group">
                <a href="javascript:void(0)" class="nav-link dropdown-toggle under-nav-togg" href="#"
                    id="navbarDropdownMenuLink-fourth" data-bs-toggle="dropdown" aria-expanded="false">
                    Soluzioni digitali
                </a>
                <div class="dropdown-menu under-nav-drop " onclick="event.stopPropagation()">
                    <div class="drop-result">
                        <div class="row d-flex">
                            <div class="col-3 digitalStore-column">
                                <h3 class="digitalStore-column">Digital Store</h3>
                                <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                                    digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
                                </p>
                                <button type="button" class="btn btn-accedi">Accedi</button>
                            </div>
                            <div class="col-9 option-columns-tim">
                                <div class="row">
                                    <a href="javascript:void(0)" class="col"><b>Smart Office</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Sicurezza e privacy</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Digital Marketing</b></a>
                                    <a href="javascript:void(0)" class="col"><b>Backup e Cloud</b></a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">audio e video comunicazione</a>
                                    <a href="javascript:void(0)" class="col">Sicurezza</a>
                                    <a href="javascript:void(0)" class="col">Analisi dati</a>
                                    <a href="javascript:void(0)" class="col">archiviazione</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">collaboration</a>
                                    <a href="javascript:void(0)" class="col">nome e certificazione</a>
                                    <a href="javascript:void(0)" class="col">promozione e fidelizzazione</a>
                                    <a href="javascript:void(0)" class="col">Serve e Cloud</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Strumenti per l'ufficio</a>
                                    <a href="javascript:void(0)" class="col"><b>Gestioneli</b></a>
                                    <a href="javascript:void(0)" class="col">Social</a>
                                    <a href="javascript:void(0)" class="col"><b>Esperti digitali</b></a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Strumenti Gestione clienti</a>
                                    <a href="javascript:void(0)" class="col">CRM gestione Clienti</a>
                                    <a href="javascript:void(0)" class="col">wifi Social</a>
                                    <a href="javascript:void(0)" class="col">Check up Digitale</a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Geolocalizzazione</a>
                                    <a href="javascript:void(0)" class="col">Soluzioni Trasversali</a>
                                    <a href="javascript:void(0)" class="col">Web e E commerce</a>
                                    <a href="javascript:void(0)" class="col"></a>

                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Monitoraggio</a>
                                    <a href="javascript:void(0)" class="col">Soluzioni per settore</a>
                                    <a href="javascript:void(0)" class="col"></a>
                                    <a href="javascript:void(0)" class="col"></a>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="col">Fatture e pagamenti</a>
                                    <a href="javascript:void(0)" class="col">Gestione presenze e Personale</a>
                                    <a href="javascript:void(0)" class="col"></a>
                                    <a href="javascript:void(0)" class="col"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="under-navbar-items mobile">
            <div class="under-navbar-item">
                <a href="javascript:void(0)" type="button" data-bs-toggle="collapse"
                    data-bs-target="#container-drop-mobile" aria-expanded="false" aria-controls="container-drop-mobile">

                    Fisso e Mobile
                </a>
            </div>
            <div class="under-navbar-item">
                <a href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#container-drop-mobile"
                    aria-expanded="false" aria-controls="container-drop-mobile">

                    Digital Store
                </a>
            </div>
            <div class="under-navbar-item">
                <a href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#container-drop-mobile"
                    aria-expanded="false" aria-controls="container-drop-mobile">

                    IoT e 5G
                </a>
            </div>
            <div class="under-navbar-item">
                <a href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#container-drop-mobile"
                    aria-expanded="false" aria-controls="container-drop-mobile">

                    Soluzioni digitali
                </a>
            </div>
        </div>

    </div>
    <div id="container-drop-mobile" class="collapse dropTim-mobile">
        <div class="card card-body dropTim-card">
            <h3 class="">Digital Store</h3>
            <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
            </p>
            <button type="button" class="btn btn-accedi">Accedi</button>
            <div class="dropTim-accordions">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <b>Smart office</b>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                <b>Sicurezza e privacy</b>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                <b>Gestionali</b>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading4">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false"
                                aria-controls="flush-collapse4">
                                <b>Digital Marketing</b>
                            </button>
                        </h2>
                        <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading5">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false"
                                aria-controls="flush-collapse5">
                                <b>Backup e Cloud</b>
                            </button>
                        </h2>
                        <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading6">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false"
                                aria-controls="flush-collapse6">
                                <b> Esperti diigtali</b>
                            </button>
                        </h2>
                        <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                                body.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>