<div class="wrap_tim_navbar" id="wrap-navTim">
    <div class="upper-navbar-tim">
        <div class="row d-flex justify-content-center h-100 upperNav-items">
            <a href="javascript:void(0)" class="col-4 upper-option d-flex justify-content-center">
                <div class="upperNav-item-wrapper d-flex align-items-center ">
                    <p>Privati</p>
                </div>
            </a>
            <a href="javascript:void(0)" class="col-4 upper-option option-active d-flex justify-content-center">
                <div class="upperNav-item-wrapper d-flex align-items-center">
                    <p>Business</p>
                </div>
            </a>
            <a href="javascript:void(0)" class="col-4 upper-option d-flex justify-content-center">
                <div class="upperNav-item-wrapper d-flex align-items-center ">
                    <p>5G e la rete</p>
                </div>
            </a>
        </div>
    </div>
    <div class="navbar-tim">
        <div class="row">
            <div class="col-6">
                <img src="../../assets/images/tim-logo-01-638x425.png" class="tim-logo" alt="tim logo">
            </div>
            <div class="col-6 d-lg-none justify-content-end d-flex align-items-center">
                <a href="javascript:void(0)" ><img src="../../assets/images/carrello.png"
                        class="logo-carrello" alt="carrello">
                </a>
                <a href="javascript:void(0)" ><img src="../../assets/images/search.png" alt="cerca"
                        class="logo-cerca"></a>
                <button class="navbar-toggler button-sideBar" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="icon-Action_Menu_Burger iconaBurger"></i>
                </button>
            </div>
            <div class="col-6 d-none navbar-items d-lg-flex justify-content-between align-items-center">
                <a href="javascript:void(0)" class="item">Digital News</a>
                <a href="javascript:void(0)" class="item">Assistenza</a>
                <a href="javascript:void(0)" class="item"><img src="../../assets/images/carrello.png"
                        class="logo-carrello" alt="carrello">
                </a>
                <a href="javascript:void(0)" class="item"> Cerca <img src="../../assets/images/search.png" alt="cerca"
                        class="logo-cerca"></a>
                <a href="javascript:void(0)" class="item"><img src="../../assets/images/Sample_User_Icon.png"
                        class="user-logo" alt="area clienti">
                    <span>Area clienti</span>
                </a>
                {{!-- <button class="navbar-toggler button-sideBar" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button> --}}
            </div>

        </div>

        <div class="offcanvas offcanvas-end sidebarTim" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header sideTim-head">
                <img src="../../assets/images/tim-logo-01-638x425.png" class="tim-logo" alt="tim logo">
                <button type="button" class="btn-close btn-close-white iconClose" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body sideTim-body">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 sideTim-search" type="search" placeholder="Cosa stai cercando?"
                        aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"></button>
                </form>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 sideTim-items">
                    <li class="nav-item ">
                        <a class="nav-link  sideTim-link" aria-current="page" href="#">Mondo digitale</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sideTim-link" href="#">Assistenza</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link sideTim-link" href="#">Area Clienti</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="under-navbar d-flex carousel" data-ride="carousel">
    <div class="under-navbar-items desktop">

        <div class="under-navbar-item dropdown tn-group" id="under-togg-test">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle  under-nav-togg" data-bs-toggle="dropdown"
                href="#" aria-expanded="false">
                Fisso e Mobile
            </a>
            <div class="dropdown-menu under-nav-drop " onclick="event.stopPropagation()">
                <div class="drop-result">
                    <div class="row d-flex">
                        <div class="col-3 digitalStore-column">
                            <h3 class="digitalStore">Fisso e Mobile</h3>
                            <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                                digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
                            </p>
                            <button type="button" class="btn btn-accedi">Accedi</button>
                        </div>
                        <div class="col-9 option-columns-tim">
                            <div class="row">
                                <a href="javascript:void(0)" class="col"><b>Smart Office</b></a>
                                <a href="javascript:void(0)" class="col"><b>Sicurezza e privacy</b></a>
                                <a href="javascript:void(0)" class="col"><b>Digital Marketing</b></a>
                                <a href="javascript:void(0)" class="col"><b>Backup e Cloud</b></a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">audio e video comunicazione</a>
                                <a href="javascript:void(0)" class="col">Sicurezza</a>
                                <a href="javascript:void(0)" class="col">Analisi dati</a>
                                <a href="javascript:void(0)" class="col">archiviazione</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">collaboration</a>
                                <a href="javascript:void(0)" class="col">nome e certificazione</a>
                                <a href="javascript:void(0)" class="col">promozione e fidelizzazione</a>
                                <a href="javascript:void(0)" class="col">Serve e Cloud</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Strumenti per l'ufficio</a>
                                <a href="javascript:void(0)" class="col"><b>Gestioneli</b></a>
                                <a href="javascript:void(0)" class="col">Social</a>
                                <a href="javascript:void(0)" class="col"><b>Esperti digitali</b></a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Strumenti Gestione clienti</a>
                                <a href="javascript:void(0)" class="col">CRM gestione Clienti</a>
                                <a href="javascript:void(0)" class="col">wifi Social</a>
                                <a href="javascript:void(0)" class="col">Check up Digitale</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Geolocalizzazione</a>
                                <a href="javascript:void(0)" class="col">Soluzioni Trasversali</a>
                                <a href="javascript:void(0)" class="col">Web e E commerce</a>
                                <a href="javascript:void(0)" class="col"></a>

                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Monitoraggio</a>
                                <a href="javascript:void(0)" class="col">Soluzioni per settore</a>
                                <a href="javascript:void(0)" class="col"></a>
                                <a href="javascript:void(0)" class="col"></a>
                            </div>
                            <div- class="row">
                                <a href="javascript:void(0)" class="col">Fatture e pagamenti</a>
                                <a href="javascript:void(0)" class="col">Gestione presenze e Personale</a>
                                <a href="javascript:void(0)" class="col"></a>
                                <a href="javascript:void(0)" class="col"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" under-navbar-item dropdown tn-group">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle under-nav-togg" href="#"
                id="navbarDropdownMenuLink-second" data-bs-toggle="dropdown" aria-expanded="false">
                Digital Store
            </a>
            <div class="dropdown-menu under-nav-drop " onclick="event.stopPropagation()">
                <div class="drop-result">
                    <div class="row d-flex">
                        <div class="col-3 digitalStore-column">
                            <h3 class="digitalStore">Digital Store</h3>
                            <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                                digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
                            </p>
                            <button type="button" class="btn btn-accedi">Accedi</button>
                        </div>
                        <div class="col-9 option-columns-tim">
                            <div class="row">
                                <a href="javascript:void(0)" class="col"><b>Smart Office</b></a>
                                <a href="javascript:void(0)" class="col"><b>Sicurezza e privacy</b></a>
                                <a href="javascript:void(0)" class="col"><b>Digital Marketing</b></a>
                                <a href="javascript:void(0)" class="col"><b>Backup e Cloud</b></a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">audio e video comunicazione</a>
                                <a href="javascript:void(0)" class="col">Sicurezza</a>
                                <a href="javascript:void(0)" class="col">Analisi dati</a>
                                <a href="javascript:void(0)" class="col">archiviazione</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">collaboration</a>
                                <a href="javascript:void(0)" class="col">nome e certificazione</a>
                                <a href="javascript:void(0)" class="col">promozione e fidelizzazione</a>
                                <a href="javascript:void(0)" class="col">Serve e Cloud</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Strumenti per l'ufficio</a>
                                <a href="javascript:void(0)" class="col"><b>Gestioneli</b></a>
                                <a href="javascript:void(0)" class="col">Social</a>
                                <a href="javascript:void(0)" class="col"><b>Esperti digitali</b></a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Strumenti Gestione clienti</a>
                                <a href="javascript:void(0)" class="col">CRM gestione Clienti</a>
                                <a href="javascript:void(0)" class="col">wifi Social</a>
                                <a href="javascript:void(0)" class="col">Check up Digitale</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Geolocalizzazione</a>
                                <a href="javascript:void(0)" class="col">Soluzioni Trasversali</a>
                                <a href="javascript:void(0)" class="col">Web e E commerce</a>
                                <a href="javascript:void(0)" class="col"></a>

                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Monitoraggio</a>
                                <a href="javascript:void(0)" class="col">Soluzioni per settore</a>
                                <a href="javascript:void(0)" class="col"></a>
                                <a href="javascript:void(0)" class="col"></a>
                            </div>
                            <div- class="row">
                                <a href="javascript:void(0)" class="col">Fatture e pagamenti</a>
                                <a href="javascript:void(0)" class="col">Gestione presenze e Personale</a>
                                <a href="javascript:void(0)" class="col"></a>
                                <a href="javascript:void(0)" class="col"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" under-navbar-item dropdown tn-group">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle under-nav-togg" href="#"
                id="navbarDropdownMenuLink-third" data-bs-toggle="dropdown" aria-expanded="false">
                IoT e 5G
            </a>
            <div class="dropdown-menu under-nav-drop " onclick="event.stopPropagation()">
                <div class="drop-result">
                    <div class="row d-flex">
                        <div class="col-3 digitalStore-column">
                            <h3 class="digitalStore">Iot e 5G</h3>
                            <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                                digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
                            </p>
                            <button type="button" class="btn btn-accedi">Accedi</button>
                        </div>
                        <div class="col-9 option-columns-tim">
                            <div class="row">
                                <a href="javascript:void(0)" class="col"><b>Smart Office</b></a>
                                <a href="javascript:void(0)" class="col"><b>Sicurezza e privacy</b></a>
                                <a href="javascript:void(0)" class="col"><b>Digital Marketing</b></a>
                                <a href="javascript:void(0)" class="col"><b>Backup e Cloud</b></a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">audio e video comunicazione</a>
                                <a href="javascript:void(0)" class="col">Sicurezza</a>
                                <a href="javascript:void(0)" class="col">Analisi dati</a>
                                <a href="javascript:void(0)" class="col">archiviazione</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">collaboration</a>
                                <a href="javascript:void(0)" class="col">nome e certificazione</a>
                                <a href="javascript:void(0)" class="col">promozione e fidelizzazione</a>
                                <a href="javascript:void(0)" class="col">Serve e Cloud</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Strumenti per l'ufficio</a>
                                <a href="javascript:void(0)" class="col"><b>Gestioneli</b></a>
                                <a href="javascript:void(0)" class="col">Social</a>
                                <a href="javascript:void(0)" class="col"><b>Esperti digitali</b></a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Strumenti Gestione clienti</a>
                                <a href="javascript:void(0)" class="col">CRM gestione Clienti</a>
                                <a href="javascript:void(0)" class="col">wifi Social</a>
                                <a href="javascript:void(0)" class="col">Check up Digitale</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Geolocalizzazione</a>
                                <a href="javascript:void(0)" class="col">Soluzioni Trasversali</a>
                                <a href="javascript:void(0)" class="col">Web e E commerce</a>
                                <a href="javascript:void(0)" class="col"></a>

                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Monitoraggio</a>
                                <a href="javascript:void(0)" class="col">Soluzioni per settore</a>
                                <a href="javascript:void(0)" class="col"></a>
                                <a href="javascript:void(0)" class="col"></a>
                            </div>
                            <div- class="row">
                                <a href="javascript:void(0)" class="col">Fatture e pagamenti</a>
                                <a href="javascript:void(0)" class="col">Gestione presenze e Personale</a>
                                <a href="javascript:void(0)" class="col"></a>
                                <a href="javascript:void(0)" class="col"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" under-navbar-item dropdown tn-group">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle under-nav-togg" href="#"
                id="navbarDropdownMenuLink-fourth" data-bs-toggle="dropdown" aria-expanded="false">
                Soluzioni digitali
            </a>
            <div class="dropdown-menu under-nav-drop " onclick="event.stopPropagation()">
                <div class="drop-result">
                    <div class="row d-flex">
                        <div class="col-3 digitalStore-column">
                            <h3 class="digitalStore">Soluzioni Digitali</h3>
                            <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                                digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
                            </p>
                            <button type="button" class="btn btn-accedi">Accedi</button>
                        </div>
                        <div class="col-9 option-columns-tim">
                            <div class="row">
                                <a href="javascript:void(0)" class="col"><b>Smart Office</b></a>
                                <a href="javascript:void(0)" class="col"><b>Sicurezza e privacy</b></a>
                                <a href="javascript:void(0)" class="col"><b>Digital Marketing</b></a>
                                <a href="javascript:void(0)" class="col"><b>Backup e Cloud</b></a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">audio e video comunicazione</a>
                                <a href="javascript:void(0)" class="col">Sicurezza</a>
                                <a href="javascript:void(0)" class="col">Analisi dati</a>
                                <a href="javascript:void(0)" class="col">archiviazione</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">collaboration</a>
                                <a href="javascript:void(0)" class="col">nome e certificazione</a>
                                <a href="javascript:void(0)" class="col">promozione e fidelizzazione</a>
                                <a href="javascript:void(0)" class="col">Serve e Cloud</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Strumenti per l'ufficio</a>
                                <a href="javascript:void(0)" class="col"><b>Gestioneli</b></a>
                                <a href="javascript:void(0)" class="col">Social</a>
                                <a href="javascript:void(0)" class="col"><b>Esperti digitali</b></a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Strumenti Gestione clienti</a>
                                <a href="javascript:void(0)" class="col">CRM gestione Clienti</a>
                                <a href="javascript:void(0)" class="col">wifi Social</a>
                                <a href="javascript:void(0)" class="col">Check up Digitale</a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Geolocalizzazione</a>
                                <a href="javascript:void(0)" class="col">Soluzioni Trasversali</a>
                                <a href="javascript:void(0)" class="col">Web e E commerce</a>
                                <a href="javascript:void(0)" class="col"></a>

                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Monitoraggio</a>
                                <a href="javascript:void(0)" class="col">Soluzioni per settore</a>
                                <a href="javascript:void(0)" class="col"></a>
                                <a href="javascript:void(0)" class="col"></a>
                            </div>
                            <div class="row">
                                <a href="javascript:void(0)" class="col">Fatture e pagamenti</a>
                                <a href="javascript:void(0)" class="col">Gestione presenze e Personale</a>
                                <a href="javascript:void(0)" class="col"></a>
                                <a href="javascript:void(0)" class="col"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="under-navbar-items mobile">
        <div class="under-navbar-item">
            <a class="collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                data-bs-target="#container-drop-fisso-mobile" aria-expanded="false"
                aria-controls="container-drop-fisso-mobile">
                Fisso e Mobile
            </a>
        </div>
        <div class="under-navbar-item">
            <a class="collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                data-bs-target="#container-drop-mobile" aria-expanded="false" aria-controls="container-drop-mobile">

                Digital Store
            </a>
        </div>
        <div class="under-navbar-item">
            <a class="collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                data-bs-target="#container-drop-5g-mobile" aria-expanded="false"
                aria-controls="container-drop-5g-mobile">

                IoT e 5G
            </a>
        </div>
        <div class="under-navbar-item">
            <a class="collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                data-bs-target="#container-drop-digital-solution-mobile" aria-expanded="false"
                aria-controls="container-drop-digital-solution-mobile">

                Soluzioni digitali
            </a>
        </div>
    </div>

</div>
<div class="accordion-group" id="mobile-drop-wrapper">
    <div id="container-drop-mobile" class="collapse dropTim-mobile">
        <div class="card card-body dropTim-card">
            <h3 class="">Digital Store</h3>
            <p>
                Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
            </p>
            <button type="button" class="btn btn-accedi">Accedi</button>
            <div class="dropTim-accordions">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <b>Smart office</b>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                <b>Sicurezza e privacy</b>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's
                                accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                <b>Gestionali</b>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's
                                accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up
                                the
                                space to make it look, at least at first glance, a bit more representative of how
                                this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading4">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false"
                                aria-controls="flush-collapse4">
                                <b>Digital Marketing</b>
                            </button>
                        </h2>
                        <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading5">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false"
                                aria-controls="flush-collapse5">
                                <b>Backup e Cloud</b>
                            </button>
                        </h2>
                        <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading6">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false"
                                aria-controls="flush-collapse6">
                                <b> Esperti digitali</b>
                            </button>
                        </h2>
                        <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-drop-fisso-mobile" class="collapse dropTim-mobile">
        <div class="card card-body dropTim-card">
            <h3 class="">Fisso e mobile</h3>
            <p>
                Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
            </p>
            <button type="button" class="btn btn-accedi">Accedi</button>
            <div class="dropTim-accordions">
                <div class="accordion accordion-flush" id="accordionFlushFissoEMobile">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="fisso-flush-headingOne">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#fisso-flush-collapseOne"
                                aria-expanded="false" aria-controls="fisso-flush-collapseOne">
                                <b>Smart office</b>
                            </button>
                        </h2>
                        <div id="fisso-flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="fisso-flush-headingOne" data-bs-parent="#accordionFlushFissoEMobile">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="fisso-flush-headingTwo">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#fisso-flush-collapseTwo"
                                aria-expanded="false" aria-controls="fisso-flush-collapseTwo">
                                <b>Sicurezza e privacy</b>
                            </button>
                        </h2>
                        <div id="fisso-flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="fisso-flush-headingTwo" data-bs-parent="#accordionFlushFissoEMobile">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's
                                accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="fisso-flush-headingThree">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#fisso-flush-collapseThree"
                                aria-expanded="false" aria-controls="fisso-flush-collapseThree">
                                <b>Gestionali</b>
                            </button>
                        </h2>
                        <div id="fisso-flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="fisso-flush-headingThree" data-bs-parent="#accordionFlushFissoEMobile">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's
                                accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up
                                the
                                space to make it look, at least at first glance, a bit more representative of how
                                this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="fisso-flush-heading4">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#fisso-flush-collapse4" aria-expanded="false"
                                aria-controls="fisso-flush-collapse4">
                                <b>Digital Marketing</b>
                            </button>
                        </h2>
                        <div id="fisso-flush-collapse4" class="accordion-collapse collapse"
                            aria-labelledby="fisso-flush-heading4" data-bs-parent="#accordionFlushFissoEMobile">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="fisso-flush-heading5">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#fisso-flush-collapse5" aria-expanded="false"
                                aria-controls="fisso-flush-collapse5">
                                <b>Backup e Cloud</b>
                            </button>
                        </h2>
                        <div id="fisso-flush-collapse5" class="accordion-collapse collapse"
                            aria-labelledby="fisso-flush-heading5" data-bs-parent="#accordionFlushFissoEMobile">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="fisso-flush-heading6">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#fisso-flush-collapse6" aria-expanded="false"
                                aria-controls="fisso-flush-collapse6">
                                <b> Esperti digitali</b>
                            </button>
                        </h2>
                        <div id="fisso-flush-collapse6" class="accordion-collapse collapse"
                            aria-labelledby="fisso-flush-heading6" data-bs-parent="#accordionFlushFissoEMobile">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-drop-5g-mobile" class="collapse dropTim-mobile">
        <div class="card card-body dropTim-card">
            <h3 class="">IoT e 5G</h3>
            <p>
                Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
            </p>
            <button type="button" class="btn btn-accedi">Accedi</button>
            <div class="dropTim-accordions">
                <div class="accordion accordion-flush" id="accordionFlush5G">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne-5g">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-5g" aria-expanded="false"
                                aria-controls="flush-collapseOne-5g">
                                <b>Smart office</b>
                            </button>
                        </h2>
                        <div id="flush-collapseOne-5g" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne-5g" data-bs-parent="#accordionFlush5G">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo-5g">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-5g" aria-expanded="false"
                                aria-controls="flush-collapseTwo-5g">
                                <b>Sicurezza e privacy</b>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo-5g" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo-5g" data-bs-parent="#accordionFlush5G">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's
                                accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree-5g">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree-5g" aria-expanded="false"
                                aria-controls="flush-collapseThree-5g">
                                <b>Gestionali</b>
                            </button>
                        </h2>
                        <div id="flush-collapseThree-5g" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree-5g" data-bs-parent="#accordionFlush5G">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's
                                accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up
                                the
                                space to make it look, at least at first glance, a bit more representative of how
                                this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading4-5g">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flu-5gsh-collapse4" aria-expanded="false"
                                aria-controls="flush-collapse4-5g">
                                <b>Digital Marketing</b>
                            </button>
                        </h2>
                        <div id="flush-collapse4-5g" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading4-5g" data-bs-parent="#accordionFlush5G">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading5-5g">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapse5-5g" aria-expanded="false"
                                aria-controls="flush-collapse5-5g">
                                <b>Backup e Cloud</b>
                            </button>
                        </h2>
                        <div id="flush-collapse5-5g" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading5-5g" data-bs-parent="#accordionFlush5G">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading6-5g">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapse6-5g" aria-expanded="false"
                                aria-controls="flush-collapse6-5g">
                                <b> Esperti digitali</b>
                            </button>
                        </h2>
                        <div id="flush-collapse6-5g" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading6-5g" data-bs-parent="#accordionFlush5G">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-drop-digital-solution-mobile" class="collapse dropTim-mobile">
        <div class="card card-body dropTim-card">
            <h3 class="">Soluzioni Digitali</h3>
            <p>
                Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
            </p>
            <button type="button" class="btn btn-accedi">Accedi</button>
            <div class="dropTim-accordions">
                <div class="accordion accordion-flush" id="accordionFlushDigitalSolution">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="digital-solution-flush-headingOne">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#digital-solution-flush-collapseOne"
                                aria-expanded="false" aria-controls="digital-solution-flush-collapseOne">
                                <b>Smart office</b>
                            </button>
                        </h2>
                        <div id="digital-solution-flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="digital-solution-flush-headingOne"
                            data-bs-parent="#accordionFlushDigitalSolution">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="digital-solution-flush-headingTwo">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#digital-solution-flush-collapseTwo"
                                aria-expanded="false" aria-controls="digital-solution-flush-collapseTwo">
                                <b>Sicurezza e privacy</b>
                            </button>
                        </h2>
                        <div id="digital-solution-flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="digital-solution-flush-headingTwo"
                            data-bs-parent="#accordionFlushDigitalSolution">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's
                                accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="digital-solution-flush-headingThree">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#digital-solution-flush-collapseThree"
                                aria-expanded="false" aria-controls="digital-solution-flush-collapseThree">
                                <b>Gestionali</b>
                            </button>
                        </h2>
                        <div id="digital-solution-flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="digital-solution-flush-headingThree"
                            data-bs-parent="#accordionFlushDigitalSolution">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's
                                accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up
                                the
                                space to make it look, at least at first glance, a bit more representative of how
                                this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="digital-solution-flush-heading4">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#digital-solution-flush-collapse4"
                                aria-expanded="false" aria-controls="digital-solution-flush-collapse4">
                                <b>Digital Marketing</b>
                            </button>
                        </h2>
                        <div id="digital-solution-flush-collapse4" class="accordion-collapse collapse"
                            aria-labelledby="digital-solution-flush-heading4"
                            data-bs-parent="#accordionFlushDigitalSolution">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="digital-solution-flush-heading5">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#digital-solution-flush-collapse5"
                                aria-expanded="false" aria-controls="digital-solution-flush-collapse5">
                                <b>Backup e Cloud</b>
                            </button>
                        </h2>
                        <div id="digital-solution-flush-collapse5" class="accordion-collapse collapse"
                            aria-labelledby="digital-solution-flush-heading5"
                            data-bs-parent="#accordionFlushDigitalSolution">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="digital-solution-flush-heading6">
                            <button class="accordion-button titolo-accord collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#digital-solution-flush-collapse6"
                                aria-expanded="false" aria-controls="digital-solution-flush-collapse6">
                                <b> Esperti digitali</b>
                            </button>
                        </h2>
                        <div id="digital-solution-flush-collapse6" class="accordion-collapse collapse"
                            aria-labelledby="digital-solution-flush-heading6"
                            data-bs-parent="#accordionFlushDigitalSolution">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                accordion
                                body.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>