<div class="wrap_tim_navbar" id="wrap-navTim">
    <div class="upper-navbar-tim">
        <div class="row d-flex justify-content-center">
            <a class="col-4 upper-option">Privati</a>
            <a class="col-4 upper-option option-active">Business</a>
            <a class="col-4 upper-option">5G e la rete</a>
        </div>
    </div>
    <div class="navbar-tim">
        <div class="row">
            <div class="col-6">
                <img src="../../assets/images/tim-logo-01-638x425.png" class="tim-logo" alt="tim logo">
            </div>
            <div class="col-6 navbar-items d-flex justify-content-between align-items-center">
                <a class="item">Digital News</a>
                <a class="item">Assistenza</a>
                <a class="item"><img src="../../assets/images/carrello.png" class="logo-carrello" alt="carrello">
                </a>
                <a class="item">Cerca</a>
                <a class="item"><img src="../../assets/images/Sample_User_Icon.png" class="user-logo"
                        alt="area clienti">
                    <span>Area clienti</span>
                </a>
            </div>
        </div>
    </div>
    <div class="under-navbar d-flex">
        <div class="under-navbar-items">

            <div class="under-navbar-item dropdown tn-group" id="under-togg-test">
                <a class="nav-link dropdown-toggle  under-nav-togg" data-bs-toggle="dropdown" href="#"
                    aria-expanded="false">
                    Fisso e Mobile
                </a>
                <div class="dropdown-menu under-nav-drop " onclick="event.stopPropagation()">
                    <div class="drop-result">
                        <div class="row d-flex">
                            <div class="col-3 digitalStore-column">
                                <h3 class="digitalStore-column">Digital Store</h3>
                                <p>Un nuovo approccio alla gestione dell’ufficio: dalla collaboration alle fatture
                                    digitali, dalla geolocalizzazione dei veicoli aziendali al controllo dei costi.
                                </p>
                                <button type="button" class="btn btn-accedi">Accedi</button>
                            </div>
                            <div class="col-9 option-columns-tim">
                                <div class="row">
                                    <a class="col"><b>Smart Office</b></a>
                                    <a class="col"><b>Sicurezza e privacy</b></a>
                                    <a class="col"><b>Digital Marketing</b></a>
                                    <a class="col"><b>Backup e Cloud</b></a>
                                </div>
                                <div class="row">
                                    <a class="col">audio e video comunicazione</a>
                                    <a class="col">Sicurezza</a>
                                    <a class="col">Analisi dati</a>
                                    <a class="col">archiviazione</a>
                                </div>
                                <div class="row">
                                    <a class="col">collaboration</a>
                                    <a class="col">nome e certificazione</a>
                                    <a class="col">promozione e fidelizzazione</a>
                                    <a class="col">Serve e Cloud</a>
                                </div>
                                <div class="row">
                                    <a class="col">Strumenti per l'ufficio</a>
                                    <a class="col"><b>Gestioneli</b></a>
                                    <a class="col">Social</a>
                                    <a class="col"><b>Esperti digitali</b></a>
                                </div>
                                <div class="row">
                                    <a class="col">Strumenti Gestione clienti</a>
                                    <a class="col">CRM gestione Clienti</a>
                                    <a class="col">wifi Social</a>
                                    <a class="col">Check up Digitale</a>
                                </div>
                                <div class="row">
                                    <a class="col">Geolocalizzazione</a>
                                    <a class="col">Soluzioni Trasversali</a>
                                    <a class="col">Web e E commerce</a>
                                    <a class="col"></a>

                                </div>
                                <div class="row">
                                    <a class="col">Monitoraggio</a>
                                    <a class="col">Soluzioni per settore</a>
                                    <a class="col"></a>
                                    <a class="col"></a>
                                </div>
                                <div- class="row">
                                    <a class="col">Fatture e pagamenti</a>
                                    <a class="col">Gestione presenze e Personale</a>
                                    <a class="col"></a>
                                    <a class="col"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class=" under-navbar-item dropdown tn-group">
                <a class="nav-link dropdown-toggle under-nav-togg" href="#" id="navbarDropdownMenuLink-second" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Digital Store
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class=" under-navbar-item dropdown tn-group">
                <a class="nav-link dropdown-toggle under-nav-togg" href="#" id="navbarDropdownMenuLink-third" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    IoT e 5G
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-third">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class=" under-navbar-item dropdown tn-group">
                <a class="nav-link dropdown-toggle under-nav-togg" href="#" id="navbarDropdownMenuLink-fourth"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Soluzioni digitali
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-fourth">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
</div>