
img.logoo{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: static;
    float: none;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-decoration: none;
    padding: 1px 8px 0 6px;
    max-width: 145px; 
    height: 100%;
/*     margin-left: -30px;
    margin-top: -5px;
    margin-bottom: -5px ; */
}

p{
    margin-bottom: 0;
}

.posit{
    max-width: 22px; 
    margin-left: 0px;
}

.bg-light{
    background:#131921 !important;
}

.Comune{
   /*  margin-top: -15px;
    margin-bottom: -5px; */
    color: white;
    font-size: 13px;
}

.Invia{
    color: silver;
   /*  margin-top: -5px; */
    font-size: 13px;
}

.dropdown-toggle{
    font-size: small;
    color: black;
    background-color:whitesmoke;
}

.SearchBar{
    min-width:400px;
    border-radius: 0 5px 5px 0;
     
    border-top: none;
    border-bottom: none;
    outline: none;
    display: flex;
    /* margin-left: -2px; */
}

.form-bar{
    /* margin-left: -80px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown{
     
    display: flex;
}

.choicecategory{
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
    padding: 0 10px 0 10px;
}

.col-6{
    display: flex;
    justify-content: center;
}

.Search-Button{
    display: flex;
    border-radius: 0 5px 5px 0;    
    min-width: 40px;
    align-items: center;
    background-color: #f3a847;
    justify-content: center;
}

 .search_img{
    max-width: 25px; 
}

.AeL{
    margin-left: 0px;
}

.Saluto {
    color: white;
    margin-top: 5px;
    /* margin-bottom: -5px; */
    font-size: small;
}

.accElist{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-left: -3px; */
    font-size: small;
}

.down-arrow{
    margin-bottom: 0px;
    margin-left: 5px;
    width: 8%;
    height: 5%;
}

.ReO{
    margin-top: 5px;
    margin-left: 15px;
}


.zero{
    color: orange;
    margin-left: 65px;
}

.menu{
    background-color: #282c3c;
    
}

.btn:hover{
    border-color: white;
    color: white;
}

.btn-menu{
    color: white;
}

.barramenu{
 /*  height: 1rem; */
}
