<div class="solution-dig">
    <div class="container-fluid">
        <div class="top-solution row w-100">
            <div class="col-12 col-md-6 info-panel">
                <div class="content-info">

                    <div class="content-info-txt">
                    <h1>Soluzioni digitali</h1>
                    <p>Per la tua azienda scegli il meglio: cresci</p>
                    <p>insieme alle nostre proposte digitali.</p>
                    </div>

                    <div class="btn-solution-wrap">
                            <a href="javascript:void(0)" class="solution-btn"><span class="space-middle">RICHIEDI INFORMAZIONI</span><img class="info-request-arrow" src="../assets/images/blu_arrow.png" alt="..."></a>
                    </div>

                </div>

            </div>
            <div class="col-12 col-md-6 h-100 img-panel">
                <img class="w-100" src="../assets/images/panel-right.png" alt="">
            </div>

        </div>

        <div class="row w-100 becomes-partner">
            <div class="col-12 content-partner d-flex justify-content-between">
                <div class="partner-text">
                    <h4><b>Diventa partner</b></h4>
                    
                    <p class="tim-open-text">Dai un’accelerata alla tua azienda: entra nella community di TIM Open.</p>
                </div>
                <div class="btn-partner-wrap">
                    <a href="javascript:void(0)" class="partner-btn"><span class="space-middle">SCOPRI TIM OPEN</span><img class="partner-request-arrow" src="../assets/images/blu_arrow.png" alt="..."></a>
                </div>
            </div>

        </div>
    </div>
</div>