$icomoon-font-family: "isp-icon-restyle" !default;
$icomoon-font-path: "fonts" !default;

$icon-ISP_star-activity-to-do-path1: "\eacf";
$icon-ISP_star-activity-to-do-path2: "\ead0";
$icon-ISP_star-activity-to-do-path3: "\ead1";
$icon-ISP_star_done: "\ead2";
$icon-ISP_star-to-do-path1: "\ead3";
$icon-ISP_star-to-do-path2: "\ead4";
$icon-ISP_star-to-do-path3: "\ead5";
$icon-ISP-caregiving: "\eaa9";
$icon-ISP-alimentazione: "\eaaa";
$icon-ISP-equilibrio: "\eaab";
$icon-ISP-movimento: "\eaac";
$icon-ISP-waves: "\eaad";
$icon-ISP_alimentazione_carelab: "\eab2";
$icon-ISP_heart_carelab: "\eab3";
$icon-ISP_equilibrio_carelab: "\eab4";
$icon-ISP_movimento_carelab: "\eab5";
$icon-ISP_icon-eye: "\eae6";
$icon-ISP-cresciamo: "\eac2";
$icon-ISP-benvenuto: "\eac3";
$icon-Icon_Appartenente-alla-comunita-Talent_02: "\ea8e";
$icon-Icon_Assegnazione-auto-aziendale_02: "\ea8f";
$icon-Icon_Assegnazione-in-distacco_02: "\ea90";
$icon-Icon_Assegnazione-temporanea_02: "\ea91";
$icon-Icon_Avente-diritto-a-Legge-104_02: "\ea92";
$icon-Icon_Beneficiario-foresteria_02: "\ea93";
$icon-ISP_spazi-area-community: "\eada";
$icon-ISP_spazi-hub: "\eadb";
$icon-ISP_spazi-sala: "\eadc";
$icon-ISP_spazi-parcheggio: "\eadd";
$icon-ISP_spazi-postazione: "\eade";
$icon-ISP_spazi-ufficio: "\eadf";
$icon-Icon_Carica-pubblica_02: "\ea94";
$icon-Icon_Carica-sindacale_02: "\ea95";
$icon-Icon_Consulente-finanziario-abilitato-allofferta-fuori-sede-Consob_02: "\ea96";
$icon-Icon_Consulente-finanziario-abilitato-allofferta-fuori-sede-IVASS_02: "\ea97";
$icon-ISP_adesione_accordi: "\eab9";
$icon-Icon_contratto_02: "\ea98";
$icon-Icon_Dipendente-con-invalidita-accertata-da-apposita-commissione-INPS-INAIL_02: "\ea99";
$icon-Icon_Evidenza-non-disciplinare-negli-ultimi-2-anni_02: "\ea9a";
$icon-Icon_Formazione-obbligatoria_02: "\ea9b";
$icon-Icon_Grave-patologia_02: "\ea9c";
$icon-Icon_In-percorso-di-reskilling-NEXT_02: "\ea9d";
$icon-Icon_Lavoratore-assente-lungo-periodo_02: "\ea9e";
$icon-Icon_Lavoratore-part-time_02: "\ea9f";
$icon-Icon_Lavoratore-pendolare_02: "\eaa0";
$icon-Icon_Lavoro-flessibile-attivo_02: "\eaa1";
$icon-Icon_Numero-figli-minorenni_02: "\eaa2";
$icon-Icon_Provvedimenti-disciplinari-negli-ultimi-due-anni_02: "\eaa3";
$icon-Icon_Richiesta-trasferimento-attivo_02: "\eaa4";
$icon-Icon_Sostituto-del-direttore_02: "\eaa5";
$icon-Icon_Tempo-determinato---Art-46_02: "\eaa6";
$icon-Icon_Ulteriore-Multi-incarico-attivo_02: "\eaa7";
$icon-figli: "\ea86";
$icon-carica-sindacale: "\ea87";
$icon-lavoratore-assente: "\ea88";
$icon-ISP_Icon-menu-verticale-sx-path1: "\ea7a";
$icon-ISP_Icon-menu-verticale-sx-path2: "\ea7b";
$icon-ISP_Icon-menu-verticale-sx-path3: "\ea7c";
$icon-ISP_Icon-salva-condividi-path1: "\ea7d";
$icon-ISP_Icon-salva-condividi-path2: "\ea7e";
$icon-ISP_Icon-salva-condividi-path3: "\ea7f";
$icon-ISP_Icon-avvia-richieste-path1: "\ea80";
$icon-ISP_Icon-avvia-richieste-path2: "\ea81";
$icon-ISP_Icon-avvia-richieste-path3: "\ea82";
$icon-ISP_Icon_articoli-path1: "\ea83";
$icon-ISP_Icon_articoli-path2: "\ea84";
$icon-ISP_Icon_articoli-path3: "\ea85";
$icon-bus_off: "\ea65";
$icon-metro_off: "\ea66";
$icon-traghetto_off: "\ea67";
$icon-treno_off: "\ea68";
$icon-target: "\ea64";
$icon-Isp_icon_badge_video-path1: "\ea44";
$icon-Isp_icon_badge_video-path2: "\ea45";
$icon-isp-icon-timer: "\e9f4";
$icon-A3: "\e9f5";
$icon-A2: "\ea2d";
$icon-A1: "\ea2e";
$icon-Contrast_icon: "\ea2f";
$icon-Normal_icon: "\ea30";
$icon-ISP_consiglio_carelab: "\eab6";
$icon-ISP_videocall-ordinary: "\eac1";
$icon-ISP-skill-ordinary: "\eac0";
$icon-ISP-calendar-ordinary: "\eabf";
$icon-ISP_biglietto-da-visita-ordinary: "\ead6";
$icon-ISP_feedback-ordinary: "\ead7";
$icon-ISP-hr-ordinary: "\eac4";
$icon-ISP-colloquio-ordinary: "\eac5";
$icon-ISP_colleghi-ordinary: "\eac6";
$icon-ISP_Icon_Auto-aziendale: "\ea31";
$icon-ISP_Icon_Foresteria: "\ea32";
$icon-ISP_Icon_Pendolare: "\ea33";
$icon-Isp_Icon_Rotate_Device: "\ea34";
$icon-ISP_Icon_razzo: "\ea59";
$icon-ISP_Icon_bandiera: "\ea5a";
$icon-ISP_Icon_mano-pollice: "\ea5b";
$icon-ISP_Icon_user_check: "\ea46";
$icon-ISP_Icon_follow_job_people: "\ea6b";
$icon-ISP_action_calcola: "\ea58";
$icon-ISP_Icon_arrow_next: "\ea6c";
$icon-ISP_Icon_Dividendi: "\e9ad";
$icon-ISP_Icon_united_hands: "\ea47";
$icon-ISP_Icon_cloud_messages: "\ea48";
$icon-ISP_Icon_-touch_graduation: "\ea49";
$icon-ISP_Icon_job_bags: "\ea4e";
$icon-ISP_Icon_guess_survey: "\ea4f";
$icon-ISP_actions-configura: "\eae0";
$icon-ISP_actions-subtract: "\eae1";
$icon-ISP_actions-verifica: "\eae2";
$icon-ISP_actions-visualliza-planimetria: "\eae3";
$icon-ISP_check-in: "\eae4";
$icon-ISP_check-out: "\eae5";
$icon-ISP_Icon_Aggiungi: "\e900";
$icon-ISP_pin_off: "\eaba";
$icon-ISP_pin_on: "\eabc";
$icon-icon_actions_onboarding: "\eaa8";
$icon-Action_Arrow_Top: "\e99f";
$icon-Action_Arrow_Down: "\e99d";
$icon-Action_Arrow_Left: "\e99e";
$icon-ISP_Icon_Arrow_forward: "\e901";
$icon-filters: "\ea89";
$icon-meno: "\ea8a";
$icon-plus: "\ea8b";
$icon-ISP_Icon_attach: "\e902";
$icon-ISP_Icon_Date_icon: "\e9a0";
$icon-ISP_actions-monitoraggio: "\eae9";
$icon-ISP_Icon_Arrow_Accordion: "\e9a1";
$icon-ISP_Icon_Left: "\e9a2";
$icon-ISP_Icon_Right: "\e903";
$icon-ISP_Icon_Arrow_Accordion_Close: "\e9a3";
$icon-ISP_Icon_Close-lightbox: "\e9a4";
$icon-ISP_Icon_Deleghe: "\e9a5";
$icon-ISP_Icon_trash: "\e9a6";
$icon-Icon_PDF: "\e978";
$icon-ISP_Icon_Scarica: "\e904";
$icon-ISP_Icon_Modifica_icon: "\e9a7";
$icon-ISP_Icon_Espandi: "\e905";
$icon-icon_export: "\e979";
$icon-ISP_Icon_Hide: "\e9a8";
$icon-ISP_Icon_Show: "\e9a9";
$icon-ISP_Icon_Folder-01: "\e906";
$icon-ISP_Icon_Deleghe1: "\e907";
$icon-ISP_Icon_Info: "\e97a";
$icon-Icon_Link: "\e97b";
$icon-ISP_Icon_Link-Linkedin: "\e95b";
$icon-ISP_actions-sincronizza-con-outlook: "\eae7";
$icon-ISP_Icon_Condividi_icon: "\e97c";
$icon-action_menu_list: "\e9d7";
$icon-Action_Menu_Burger: "\e9aa";
$icon-Action_Menu_Kebab: "\e9ab";
$icon-Action_Menu_Meatballs: "\e9ac";
$icon-midyearreview: "\e908";
$icon-ISP_Icon_Gerarchia: "\e95c";
$icon-Action_Play: "\e9ae";
$icon-ISP_Icon_Inserisci_OFF: "\ea3c";
$icon-ISP_Icon_Inserisci_On: "\ea3d";
$icon-ISP_Icon-Actions-preferiti-off: "\e909";
$icon-Action_Preferiti_On: "\e90a";
$icon-ISP-tips: "\eae8";
$icon-ISP_Icon_Stampa: "\e95d";
$icon-Action_Restartfield: "\e9af";
$icon-ISP_Icon_rotate-neg: "\e90b";
$icon-ISP_icon_save: "\e97d";
$icon-ISP_Icon_Search_icon: "\e90d";
$icon-ISP_Icon_Scheda: "\e90c";
$icon-ISP_Icon_action_sort_discendente: "\ea35";
$icon-Arrow_down_on-01: "\e90e";
$icon-Action_Send: "\e9b0";
$icon-ISP_Icon_Condividi: "\e95e";
$icon-ISP_Icon_Torni_su: "\e90f";
$icon-ISP_Icon_Segnala: "\e9b1";
$icon-icon-magic: "\e910";
$icon-ISP_Icon_Vedipiu: "\e9b2";
$icon-Action_Zoom_Out: "\e9b3";
$icon-ISP_Icon_Segnalazioni: "\e97e";
$icon-ISP_Icon_action_sort_ascendente: "\ea36";
$icon-Arrow_up_on-01: "\e911";
$icon-Checkbox_Off: "\e9b4";
$icon-Checkbox_On: "\e9b5";
$icon-Mi_racconto: "\e95f";
$icon-ISP_Icon_Icona_Come_3: "\e960";
$icon-icon-chart-man: "\e97f";
$icon-icon-travel-bag: "\e980";
$icon-lingueconosciute: "\e981";
$icon-icon-hands: "\e982";
$icon-ISP_Icon_passioni_gray: "\e983";
$icon-icon-laurea: "\e984";
$icon-icon-awards: "\e985";
$icon-icon_formazioni-e-sviluppo-path1: "\ea50";
$icon-icon_formazioni-e-sviluppo-path2: "\ea51";
$icon-icon_richieste-amministrative-path1: "\ea52";
$icon-icon_richieste-amministrative-path2: "\ea53";
$icon-icon-dati-anagrafici-path1: "\e986";
$icon-icon-dati-anagrafici-path2: "\e987";
$icon-ISP_icon_profilo_in_breve-path1: "\e988";
$icon-ISP_icon_profilo_in_breve-path2: "\e989";
$icon-icon-presenze-path1: "\e9b6";
$icon-icon-presenze-path2: "\e9b7";
$icon-icon-group-28-path1: "\e9b8";
$icon-icon-group-28-path2: "\e9b9";
$icon-icon-retribuzioni-path1: "\ea3e";
$icon-icon-retribuzioni-path2: "\ea3f";
$icon-Isp_Icon_Controls_Obiettivi_Numeri: "\ea37";
$icon-Isp_Icon_Controls_Obiettivi_Testo: "\ea38";
$icon-Isp_Icon_Controls_Obiettivi_Checkbox: "\ea39";
$icon-Isp_Icon_Controls_Tabelle_Off: "\ea3a";
$icon-Isp_Icon_Controls_Tabelle_On: "\ea3b";
$icon-ISP_Icon_VistaGrafico_off: "\e912";
$icon-ISP_Icon_VistaGrafico_ofn: "\e913";
$icon-ISP_Icon_Calendar2: "\e961";
$icon-ISP_Icon_Calendar_neg: "\e962";
$icon-ISP_Icon_Filtri_Off: "\e963";
$icon-ISP_Icon_Filtri_On: "\e964";
$icon-Vsita_Lista_Off: "\e965";
$icon-Vista_Lista_On: "\e966";
$icon-ISP_Icon_Strutture_Off: "\e967";
$icon-ISP_Icon_Strutture_On-path1: "\e968";
$icon-ISP_Icon_Strutture_On-path2: "\e969";
$icon-ISP_Icon_Riporti_Off: "\e98a";
$icon-ISP_Icon_Riporti_On: "\e98b";
$icon-Vista_Card_Off: "\e96a";
$icon-Vista_Card_On: "\e96b";
$icon-ISP_icon_zoomIn_Off: "\e914";
$icon-ISP_icon_zoomIn_On: "\e915";
$icon-ISP_icon_zoomOut_Off: "\e916";
$icon-ISP_icon_zoomOut_On: "\e917";
$icon-ISP_formazione_resp: "\eabd";
$icon-ISP_formazione_hr: "\eabe";
$icon-ISP_Icon_Dashboard_Trolley: "\eab8";
$icon-ISP_Icon_Dashboard_Gender_Equality: "\ea69";
$icon-ISP_Icon_Dashboard_Lavoro_Flessibile: "\ea6a";
$icon-ISP_Icon_Dashboard_Assenze: "\e9ba";
$icon-ISP_Icon_Dashboard_Genere_dettaglio: "\e9bb";
$icon-icon_dashboard_new: "\eab1";
$icon-ISP_Icon_Dashboard_Genere: "\e9bc";
$icon-DashBoardIcon: "\e918";
$icon-ISP_Icon_Dashboard_Organico: "\e9bd";
$icon-ISP_Icon_Dashboard_Recruiting: "\e9be";
$icon-ISP_Icon_Dashboard_trasferte: "\e919";
$icon-ISP_Icon_Dashboard_trasferte_TopSpender-path1: "\e91a";
$icon-ISP_Icon_Dashboard_trasferte_TopSpender-path2: "\e91b";
$icon-ISP_Icon_Dashboard_Ferie: "\e91c";
$icon-ISP_Icon_DOC: "\e98c";
$icon-ISP_Icon_JPG: "\e98d";
$icon-ISP_Icon_MP3: "\e96c";
$icon-ISP_Icon_PDF: "\e96d";
$icon-ISP_Icon_Youtube: "\ea2a";
$icon-ISP_Icon_Facebook: "\e9bf";
$icon-ISP_Icon_Linkedin: "\e9c0";
$icon-ISP_Icon_Twitter: "\e9c1";
$icon-ISP_Icon_Open: "\e96f";
$icon-close: "\e96e";
$icon-icon-generale-autorilevato: "\ea8c";
$icon-icon-generale-valutato: "\ea8d";
$icon-ISP_Icon_Location_icon: "\e9c2";
$icon-Generic_Coccarda: "\e9c3";
$icon-Generic_Email_Address: "\e9c4";
$icon-ISP_Icon_professionale: "\e9c5";
$icon-People_Logo: "\e9c6";
$icon-ISP_Icon_Telefono_icon: "\e98e";
$icon-ISP_Icon_Fisso_icon: "\e9c7";
$icon-ISP_Icon_formativa: "\e9c8";
$icon-ISP_Icon_Orologio_icon: "\e9c9";
$icon-Header_Cassetto: "\e9ca";
$icon-ISP_Icon_Notifiche_icon: "\e9cb";
$icon-ISP_Personale-in-aspettativa: "\ead8";
$icon-ISP_Personale-a-disposizione: "\ead9";
$icon-ISP_adesione_accordi_circle: "\eabb";
$icon-ISP_calendar_2020: "\eab7";
$icon-Icon_Inbreve_Pendolare: "\e973";
$icon-Icon_Inbreve_Formazione: "\e9cf";
$icon-Icon_InBreve_Foresteria: "\e9d0";
$icon-Icon_Inbreve_Assegnazione-auto-aziendale: "\e9d3";
$icon-ISP_Icon_Appartenente_Comunita_Talent: "\ea54";
$icon-ISP_Icon_Percorso_Reskilling: "\ea55";
$icon-ISP_Icon_Numero_Figli_Minorenni: "\ea56";
$icon-ISP_Icon_contratto: "\ea70";
$icon-ISP_Icon_avente-diritto-a-legge-104: "\ea71";
$icon-ISP_Icon_grave-patologia: "\ea72";
$icon-ISP_Icon_lavoratore-potenziale-assente-lungo-periodo: "\ea73";
$icon-ISP_Icon_provvedimenti-disciplinari-negli-ultimi-due-anni: "\ea74";
$icon-ISP_Icon_richiesta-trasferimento-attivo: "\ea75";
$icon-ISP_Icon_tempo-determinato-art-46: "\ea76";
$icon-Icon_Inbreve_Sindacale: "\e9cc";
$icon-Icon_Inbreve_Cariche-Pubbliche: "\e970";
$icon-Icon_Inbreve_CONSOB1: "\e9cd";
$icon-Icon_Inbreve_IVASS: "\e9ce";
$icon-Icon_Inbreve_Richiami-Disciplinari: "\e9d1";
$icon-Icon_Inbreve_Figlio: "\e9d2";
$icon-Icon_Inbreve_Grave-patologia: "\e9d4";
$icon-Icon_Inbreve_Invalidita: "\e9d5";
$icon-Icon_Inbreve_Assente: "\e971";
$icon-Icon_Inbreve_Part-Time: "\e9d6";
$icon-Icon_Inbreve_Legge104: "\e9d8";
$icon-Icon_Inbreve_Multi-incarico: "\e972";
$icon-Icon_Inbreve_Provvediemnti-Disciplinari: "\e9d9";
$icon-Icon_Inbreve_Smartworking: "\e9db";
$icon-Icon_Inbreve_Sostituto-Direttore: "\e9dc";
$icon-Icon_Inbreve_In-distacco: "\e9dd";
$icon-Icon_Inbreve_In-missione: "\e9de";
$icon-ISP_Icon_Down: "\e91d";
$icon-ISP_Icon_AndamentoNeutro: "\e9df";
$icon-ISP_Icon_Up: "\e9e0";
$icon-ISP_Icon_Lecoip_2014_2017: "\e9e1";
$icon-ISP_Icon_PianoPop: "\e9e2";
$icon-Radio_Off: "\e9e3";
$icon-ISP_Icon_Selected: "\e9e4";
$icon-ISP_Icon_Warning-Bloccante: "\e9e5";
$icon-ISP_Icon_Info-Esito: "\e9e6";
$icon-ISP_Icon_Warning: "\e9e7";
$icon-ISP_videocall-path1: "\eac7";
$icon-ISP_videocall-path2: "\eac8";
$icon-ISP-skill-path1: "\eac9";
$icon-ISP-skill-path2: "\eaca";
$icon-ISP_Icon_start-bandiera-path1: "\ea5c";
$icon-ISP_Icon_start-bandiera-path2: "\ea5d";
$icon-ISP_Icon_mi-presento-path1: "\ea6f";
$icon-ISP_Icon_mi-presento-path2: "\ea77";
$icon-ISP_sezioni-rocket-path1: "\eafb";
$icon-ISP_sezioni-rocket-path2: "\eafc";
$icon-ISP_Icon_pollice-in-su-path1: "\ea78";
$icon-ISP_Icon_pollice-in-su-path2: "\ea79";
$icon-icon-ISP_Icon_Colloquio-path1: "\ea60";
$icon-icon-ISP_Icon_Colloquio-path2: "\ea61";
$icon-ISP_colloquio-path1: "\eacb";
$icon-ISP_colloquio-path2: "\eacc";
$icon-ISP_sezioni-connessioni-path1: "\eafd";
$icon-ISP_sezioni-connessioni-path2: "\eafe";
$icon-icon-ISP_Icon_Inserimento-path1: "\ea5e";
$icon-icon-ISP_Icon_Inserimento-path2: "\ea5f";
$icon-ISP-hr-path1: "\eacd";
$icon-ISP-hr-path2: "\eace";
$icon-icon-ISP_Icon_Survey-path1: "\ea62";
$icon-icon-ISP_Icon_Survey-path2: "\ea63";
$icon-ISP_Sezioni_Ambizioni_Aspirazioni-path1: "\ea42";
$icon-ISP_Sezioni_Ambizioni_Aspirazioni-path2: "\ea43";
$icon-ISP_Icon_sezioni_pillole-path1: "\ea2b";
$icon-ISP_Icon_sezioni_pillole-path2: "\ea2c";
$icon-ISP_Icon_Ambizionispirazioni-path1: "\e91e";
$icon-ISP_Icon_Ambizionispirazioni-path2: "\e91f";
$icon-ISP_Icon_Appuntamenti-path1: "\e98f";
$icon-ISP_Icon_Appuntamenti-path2: "\e990";
$icon-ISP_Icon_Perche-path1: "\e9e8";
$icon-ISP_Icon_Perche-path2: "\e9e9";
$icon-ISP_Icon_Collaboratori-path1: "\e920";
$icon-ISP_Icon_Collaboratori-path2: "\e921";
$icon-Sezioni_Colleghi-path1: "\e9ea";
$icon-Sezioni_Colleghi-path2: "\e9eb";
$icon-Sezioni_Comments-path1: "\e9ec";
$icon-Sezioni_Comments-path2: "\e9ed";
$icon-ISP_Icon_corsi-path1: "\e974";
$icon-ISP_Icon_corsi-path2: "\e975";
$icon-ISP_Icon_Dashboard-path1: "\e922";
$icon-ISP_Icon_Dashboard-path2: "\e923";
$icon-Sezioni_Datipersonali-path1: "\e9ee";
$icon-Sezioni_Datipersonali-path2: "\e9ef";
$icon-ISP_Icon_Valori1-path1: "\e924";
$icon-ISP_Icon_Valori1-path2: "\e925";
$icon-ISP_Icon_percorso-path1: "\e976";
$icon-ISP_Icon_percorso-path2: "\e977";
$icon-ISP_Icon_Job_Center-path1: "\e926";
$icon-ISP_Icon_Job_Center-path2: "\e927";
$icon-Sezioni_Feedback-path1: "\e9f0";
$icon-Sezioni_Feedback-path2: "\e9f1";
$icon-Sezioni_Firma-path1: "\e9f2";
$icon-Sezioni_Firma-path2: "\e9f3";
$icon-ISP_Icon_Seniority-path1: "\e928";
$icon-ISP_Icon_Seniority-path2: "\e929";
$icon-Sezioni_History-path1: "\e9f6";
$icon-Sezioni_History-path2: "\e9f7";
$icon-ISP_Icon_Numeri-path1: "\e92a";
$icon-ISP_Icon_Numeri-path2: "\e92b";
$icon-Sezioni_Identity-path1: "\e9f8";
$icon-Sezioni_Identity-path2: "\e9f9";
$icon-ISP_Icon_Percorso-path1: "\e92c";
$icon-ISP_Icon_Percorso-path2: "\e92d";
$icon-ISP_Icon_Perche1-path1: "\e991";
$icon-ISP_Icon_Perche1-path2: "\e992";
$icon-ISP_Icon_Portafoglio-path1: "\e92e";
$icon-ISP_Icon_Portafoglio-path2: "\e92f";
$icon-ISP_Icon_Suggerimenti-path1: "\e930";
$icon-ISP_Icon_Suggerimenti-path2: "\e931";
$icon-ISP_Icon_Lingue-path1: "\e932";
$icon-ISP_Icon_Lingue-path2: "\e933";
$icon-Sezioni_Lockedinfo-path1: "\e9fa";
$icon-Sezioni_Lockedinfo-path2: "\e9fb";
$icon-ISP_Icon_Follow_Up_People-path1: "\ea6d";
$icon-ISP_Icon_Follow_Up_People-path2: "\ea6e";
$icon-ISP_Icon_Mi_presento-path1: "\e934";
$icon-ISP_Icon_Mi_presento-path2: "\e935";
$icon-ISP_Icon_Obiettivi-path1: "\e936";
$icon-ISP_Icon_Obiettivi-path2: "\e937";
$icon-ISP_Icon_News-path1: "\e993";
$icon-ISP_Icon_News-path2: "\e994";
$icon-ISP_Icon_NotificheSezione-path1: "\e938";
$icon-ISP_Icon_NotificheSezione-path2: "\e939";
$icon-ISP_Icon_GoalSet-path1: "\e93a";
$icon-ISP_Icon_GoalSet-path2: "\e93b";
$icon-pacchetti-path1: "\e93c";
$icon-pacchetti-path2: "\e93d";
$icon-ISP_Icon_Passioni-path1: "\e93e";
$icon-ISP_Icon_Passioni-path2: "\e93f";
$icon-ISP_Icon_Videos-path1: "\e940";
$icon-ISP_Icon_Videos-path2: "\e941";
$icon-ISP_Icon_PerformanceRetrib-path1: "\e942";
$icon-ISP_Icon_PerformanceRetrib-path2: "\e943";
$icon-ISP_Icon_Persone-path1: "\e995";
$icon-ISP_Icon_Persone-path2: "\e996";
$icon-ISP_Icon_Competenze-path1: "\e944";
$icon-ISP_Icon_Competenze-path2: "\e945";
$icon-Sezioni_Question-path1: "\e9fc";
$icon-Sezioni_Question-path2: "\e9fd";
$icon-ISP_Icon_Richieste_title-path1: "\e997";
$icon-ISP_Icon_Richieste_title-path2: "\e998";
$icon-ISP_Icon_Riconoscimenti-2-path1: "\e946";
$icon-ISP_Icon_Riconoscimenti-2-path2: "\e947";
$icon-ISP_Icon_Servizi-Pers-path1: "\e948";
$icon-ISP_Icon_Servizi-Pers-path2: "\e949";
$icon-Sezioni_Skill_Tecniche-path1: "\e9fe";
$icon-Sezioni_Skill_Tecniche-path2: "\e9ff";
$icon-Sezioni_Suggerimenti-path1: "\ea00";
$icon-Sezioni_Suggerimenti-path2: "\ea01";
$icon-ISP_alert-error: "\eaea";
$icon-ISP_alert-warning: "\eaeb";
$icon-ISP_actions-verifica1-path1: "\eaf7";
$icon-ISP_actions-verifica1-path2: "\eaf8";
$icon-ISP_Icon_Stato_away: "\e94b";
$icon-ISP_Icon_Stato_Busy: "\e94c";
$icon-ISP_Icon_Stato_donotdisturb: "\e94d";
$icon-ISP_pianificazione-lavoro-flessibile-path1: "\eaec";
$icon-ISP_pianificazione-lavoro-flessibile-path2: "\eaed";
$icon-ISP_pianificazione-lavoro-flessibile-rifiutato-path1: "\eaee";
$icon-ISP_pianificazione-lavoro-flessibile-rifiutato-path2: "\eaef";
$icon-ISP_Icon_Stato_online: "\e94a";
$icon-ISP_pianificazione-2-eventi-path1: "\eaf0";
$icon-ISP_pianificazione-2-eventi-path2: "\eaf1";
$icon-ISP_pianificazione-2-eventi-path3: "\eaf2";
$icon-ISP_pianificazione-assenza-path1: "\eaf3";
$icon-ISP_pianificazione-assenza-path2: "\eaf4";
$icon-ISP_pianificazione-ferie-path1: "\eaf5";
$icon-ISP_pianificazione-ferie-path2: "\eaf6";
$icon-ISP_Icon_Skype_icon: "\ea02";
$icon-ISP_Icon_Stato_offline: "\e94e";
$icon-Star_Off: "\ea03";
$icon-Star_On-path1: "\ea04";
$icon-Star_On-path2: "\ea05";
$icon-ISP_subsections-esplora-path1: "\eaf9";
$icon-ISP_subsections-esplora-path2: "\eafa";
$icon-ISP-nuovo-ruolo-path1: "\eaae";
$icon-ISP-nuovo-ruolo-path2: "\eaaf";
$icon-ISP-nuovo-ruolo-path3: "\eab0";
$icon-subsections_domanda-path1: "\e9da";
$icon-subsections_domanda-path2: "\ea57";
$icon-ISP_Subsections_Valutare-path1: "\ea4a";
$icon-ISP_Subsections_Valutare-path2: "\ea4b";
$icon-ISP_Subsections_Formazione-path1: "\ea4c";
$icon-ISP_Subsections_Formazione-path2: "\ea4d";
$icon-ISP_Icon_Valore-path1: "\ea06";
$icon-ISP_Icon_Valore-path2: "\ea07";
$icon-ISP_Icon_Aspirazioni-path1: "\ea08";
$icon-ISP_Icon_Aspirazioni-path2: "\ea09";
$icon-ISP_Icon_Brevetti-path1: "\ea0a";
$icon-ISP_Icon_Brevetti-path2: "\ea0b";
$icon-isp-icon-linkedin-commenti-path1: "\e94f";
$icon-isp-icon-linkedin-commenti-path2: "\e950";
$icon-isp-icon-linkedin-conessioni-path1: "\e951";
$icon-isp-icon-linkedin-conessioni-path2: "\e952";
$icon-Subsections_Curriculum-path1: "\ea0c";
$icon-Subsections_Curriculum-path2: "\ea0d";
$icon-ISP_Icon_ExtraLavorativa-path1: "\e953";
$icon-ISP_Icon_ExtraLavorativa-path2: "\e954";
$icon-ISP_Icon_Icona_Come_4-path1: "\ea0e";
$icon-ISP_Icon_Icona_Come_4-path2: "\ea0f";
$icon-ISP_Icon_Icona_Come_5-path1: "\ea10";
$icon-ISP_Icon_Icona_Come_5-path2: "\ea11";
$icon-ISP_Icon_Mobilita-path1: "\ea12";
$icon-ISP_Icon_Mobilita-path2: "\ea13";
$icon-ISP_Icon_Icona_Come_1-path1: "\ea14";
$icon-ISP_Icon_Icona_Come_1-path2: "\ea15";
$icon-pachetti-path1: "\e955";
$icon-pachetti-path2: "\e956";
$icon-ISP_Icon_Passioni1-path1: "\e957";
$icon-ISP_Icon_Passioni1-path2: "\e958";
$icon-isp-icon-linkedin-posts-path1: "\e959";
$icon-isp-icon-linkedin-posts-path2: "\e95a";
$icon-ISP_Icon_Premi-path1: "\ea16";
$icon-ISP_Icon_Premi-path2: "\ea17";
$icon-ISP_Icon_Futuro-path1: "\e999";
$icon-ISP_Icon_Futuro-path2: "\e99a";
$icon-ISP_Icon_Conoscenza-path1: "\e99b";
$icon-ISP_Icon_Conoscenza-path2: "\e99c";
$icon-Subsections_User-path1: "\ea18";
$icon-Subsections_User-path2: "\ea19";
$icon-ISP_Icon_Feedback-path1: "\ea1a";
$icon-ISP_Icon_Feedback-path2: "\ea1b";
$icon-ISP_Icon_Processing-path1: "\ea40";
$icon-ISP_Icon_Processing-path2: "\ea41";
$icon-Timeline_Activity_Overdue-path1: "\ea1c";
$icon-Timeline_Activity_Overdue-path2: "\ea1d";
$icon-Timeline_Activity_Overdue-path3: "\ea1e";
$icon-Timeline_Activity_To_Do-path1: "\ea1f";
$icon-Timeline_Activity_To_Do-path2: "\ea20";
$icon-Timeline_Done: "\ea21";
$icon-ISP_Icon_noncompletato: "\ea22";
$icon-Timeline_To_Do: "\ea23";
$icon-Toggle_Off-path1: "\ea24";
$icon-Toggle_Off-path2: "\ea25";
$icon-Toggle_Off-path3: "\ea26";
$icon-ISP_Icon_Toggle-path1: "\ea27";
$icon-ISP_Icon_Toggle-path2: "\ea28";
$icon-ISP_Icon_Toggle-path3: "\ea29";

