<div class="content-carousel-banner">
    <div class="container-fluid">
        <div class="row reverse">
            <div class="col-6 total-column banner-blue">
                <div class="row">
                    <div class="col">
                        <h3 class="title"><b>Domain Threat <br>Intelligence</b></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mobile"><b>Porta una linea mobile in TIM Business<br> e la paghi il 50% in
                                meno.</b>
                        </p>
                    </div>
                </div>
                <div class="row banner-footer d-flex justify-content-between">
                    <div class="col">
                        <div class="row d-flex justify-content-center">
                            <div class="col-6">
                                <h3 class="title d-flex justify-content-end">85 </h3>
                            </div>
                            <div class="col-6">
                                <span class="euro">€</span> <br><span class="d-flex justify-content-start">
                                    AL
                                    MESE</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <button class="service-btn"><span class="space-middle">SCOPRI IL
                                SERVIZIO</span><span> >
                            </span></button>
                    </div>
                </div>
            </div>
            <div class="col-6 total-column">
                <img class="photo" src={{image}} alt="immagine">
            </div>
        </div>
    </div>
</div>