<div class="content-carousel-banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" 
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-current="true" class="active"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="row reverse">
                    <div class="col-6 total-column banner-blue">
                        <div class="row">
                            <div class="col">
                                <h3 class="title"><b>Domain Threat <br>Intelligence</b></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="mobile"><b>Porta una linea mobile in TIM Business<br> e la paghi il 50% in
                                        meno.</b>
                                </p>
                            </div>
                        </div>
                        <div class="row banner-footer d-flex justify-content-between">
                            <div class="col">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-6">
                                        <h3 class="title d-flex justify-content-end">85 </h3>
                                    </div>
                                    <div class="col-6">
                                        <span class="euro">€</span> <br><span class="d-flex justify-content-start"> AL
                                            MESE</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <button class="service-btn"><span class="space-middle">SCOPRI IL SERVIZIO</span><span> >
                                    </span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 total-column">
                        <img class="photo" src={{image}} alt="immagine">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev" aria-hidden="true"><img src="assets/images/back.png"
                    class="icon-button p-2 d-flex justify-content-center" alt="back"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next" aria-hidden="true"><img src="assets/images/next.png"
                    class="icon-button p-2 d-flex justify-content-center" alt="next"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>