.card-dim{
    /* margin-left: 20%; */
    /* margin-right: 20px */
    border-radius: 0 0 0 0;
    background-color: white;
    border-color: black;
    display: inline-block;
    border: solid;
    border-width: thin;    
    min-height: 500px;
    height: 100%;

    .wrapper-card-content{
        min-height:550px;
    }
    
    .card-img-top{
        border-radius: 0 0 0 0;
        height: 100%;
        width: 100%;
    }
    .card-body{
        padding: 5%;  
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .description-wrap{
            max-height: 70px;
            overflow-y: auto;
        }
        .caratteristiche-card{
            width: 100%;
            flex-wrap: wrap;

            .charact-wrap{
                white-space: nowrap;       
                color: white;
                margin-right: 5px;
                padding: 0 5px;
                margin-bottom: 5px;
                line-height: 14px;  

                    &.red{
                        background-color: red;
                    }
                    &.black{
                        background-color: black;
                    }
                    &.blue{
                        background-color: blue;
                    }
                .charact-label{
                    font-size: 11px;
                }
            }
        }
            
        .euro-month{
            margin-left: 10px;
        }
        
        .price{
            height: 100%;
        }
    
        .time{
            margin-top: -6px;
            font-size: 12px;
        }
    
        .scopri{
            margin-top: 10px;
            text-align: center;
            color: blue;
            border: solid;
            border-width: 2px;
            padding: 2%;
        }

        .scopri-span{
            color: blue;
            text-decoration: none;
        }

    }      
}

