.card-dim{
    margin-left: 20%;
    margin-right: 20%;
    width: 20%;
    border-radius: 0 0 0 0;
    background-color: white;
    border-color: black; 

    &.red{
        background-color: red;
    }
    
    .card-img-top{
        border-radius: 0 0 0 0;
    }
    .card-body{

        .DA{
            margin-top: 30px;
        }
        .euro-mese{
            margin-left: 10px;
        }
        
        .sei{
            height: 100%;
        }
    
        .al-mese{
            margin-top: -6px;
            font-size: 12px;
        }
    
        .scopri{
            margin-top: 10px;
            text-align: center;
            color: blue;
        }
    
        .charat-card{
            .charact{
                &.blu{

                }
                &.red{

                }
            }
        }
    }
}
