<div class="banner-promozioni">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" 
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-current="true" class="active"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item ">
                {{> content-carousel-banner/content-carousel-banner
                    title-1="Domain Threat"
                    title-2="Intelligence"
                    description-top="Porta una linea mobile in TIM Business"
                    description-bottom="e la paghi il 50% in meno."
                    price="85"
                    currency="€"
                    for-time="AL MESE"
                    image="assets/images/3colleghi.png"
                }}
            </div>
            <div class="carousel-item active">
                {{> content-carousel-banner/content-carousel-banner
                    title-1="Domain Threat"
                    title-2="Intelligence"
                    description-top="Porta una linea mobile in TIM Business"
                    description-bottom="e la paghi il 50% in meno."
                    price="85"
                    currency="€"
                    for-time="AL MESE"
                    image="assets/images/3colleghi.png"
                }}
            </div>
            <div class="carousel-item">
                {{> content-carousel-banner/content-carousel-banner
                    title-1="Domain Threat"
                    title-2="Intelligence"
                    description-top="Porta una linea mobile in TIM Business"
                    description-bottom="e la paghi il 50% in meno."
                    price="85"
                    currency="€"
                    for-time="AL MESE"
                    image="assets/images/3colleghi.png"
                }}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev" aria-hidden="true"><img src="assets/images/back.png" class="icon-button p-2 d-flex justify-content-center" alt="back"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next" aria-hidden="true"><img src="assets/images/next.png" class="icon-button p-2 d-flex justify-content-center" alt="next"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> 
</div>