<div class="banner-promozioni">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 blu">
                <div class="row">
                    <div class="col">
                        <h3 class="title"><b>Domain Threat <br>Intelligence</b></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mobile"><b>Porta una linea mobile in TIM Business<br> e la paghi il 50% in meno.</b>
                        </p>
                    </div>
                </div>
                <div class="row spaziatura">
                    <div class="col">
                        <div class="row prezzo">
                            <div class="col">
                                <span class="title">85 </span>
                            </div>
                            <div class="col rata">
                                <span>€ <br>AL MESE</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <button class="servizio"><span>SCOPRI IL SERVIZIO</span><span> > </span></button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img class="donna" src="assets/images/img2carousel.png" alt="immagine">
            </div>
        </div>
    </div>
</div>