{{#> base }}

	<main role="main" class="container chi-siamo">
		<h1>Components Page</h1>
		<div class="container">
			<div class="row">
				<div class="col-12 mt-5">
					{{> accordion/accordion}}
				</div>
				<div class="col-12 mt-5">
					{{> dropdown/dropdown}}
				</div>
				<div class="col-12 mt-5">
					{{> servizi/servizi}}
				</div>
				<div class="col-12 mt-5">
					{{> servizi-2/servizi-2}}
				</div>
				<div class="col-12 mt-5">
					{{> services-news/services-news}}
				</div>
				<div class="col-12 mt-5">
					{{> slickJs-example/slickJs-example}}
				</div>
				<div class="col-12 mt-5">
					{{> digital-solution/digital-solution}}
				</div>
				<div class="col-12 mt-5">
					{{> banner-promozioni/banner-promozioni}}
				</div>
			</div>
		</div>
	</main>
{{/ base }}

