{{#> base }}





<main role="main">
	<h1>Home Page</h1>

	<div class="navbarTim-container">
		{{>navbarTim/navbarTim}}
	</div>

	<div class="container-servizi">
		{{>servizi/servizi}}
	</div>

	<div class="banner-promozioni">
		{{>banner-promozioni/banner-promozioni}}
	</div>




	<div class="container">
		<div class="col-12 mt-5">
			{{> footer/footer}}
		</div>
	</div>

</main>


{{/ base }}