{{#> base }}
<<<<<<< HEAD
<div class="container-servizi">
	{{>servizi/servizi}}
</div>


<main role="main" class="container home">
	{{!-- <h1>Home Page</h1> --}}
=======
<div class="navbarTim-container">
	{{>navbarTim/navbarTim}}
</div>

<main role="main">
	<h1>Home Page</h1>
>>>>>>> def1f0fe43d648307b57e6b6a07e03568fdc8eba
	

	
	<div class="container">
		<div class="col-12 mt-5">
			{{> footer/footer}}
		</div>
	</div>
	
</main>

{{/ base }}
