{{#> base }}





<main role="main">

	
		{{>navbarTim/navbarTim}}

		{{>banner-promozioni/banner-promozioni}}

		{{>servizi/servizi}}

		{{>servizi-2/servizi-2}}

		{{> footer/footer}}


</main>


{{/ base }}