{{#> base }}





<main role="main">
	<h1>Home Page</h1>

	
		{{>navbarTim/navbarTim}}

		{{>servizi/servizi}}

		{{>banner-promozioni/banner-promozioni}}

		{{> footer/footer}}

</main>


{{/ base }}