{{#> base }}





<main role="main">

	
		{{>navbarTim/navbarTim}}

		{{>banner-promozioni/banner-promozioni}}

		{{>servizi/servizi}}

		{{>servizi-2/servizi-2}}

		{{>promozioni-slick/promozioni-slick}}

		{{>services-news/services-news}}

		{{>digital-solution/digital-solution}}

		{{> footer/footer}}


</main>


{{/ base }}