<div class="news_service" id="service_for_news">
  <div class="container-fluid">
    <div class="row w-100">
      <span class="servizi-title-3">Notizie</span>
    </div>
    <div class="row w-100 menu-wrap-3 desktop flex-column">
      <ul class="nav justify-content-center menu-3">
        <li class="nav-item menu-item-3">
          <a class="nav-link menu-link-3" href="javascript:void(0)">Articoli</a>
        </li>
        <li class="nav-item menu-item-3">
          <a class="nav-link active menu-link-3" href="javascript:void(0)">Storie di successo</a>
        </li>
      </ul>
    </div>

    <div class="dropdown row menu-wrap-3 mobile">
        <button class="btn btn-menu-dd-3 btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ARTICOLI
        </button>
        <div class="dropdown-menu menu-dd-3" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="javascript:void(0)">Articoli</a>
          <a class="dropdown-item" href="javascript:void(0)">Storie di successo</a>
        </div>
    </div>


    <div class="carousel slide mt-4" data-ride="carousel" id="postsCarousel">
      <section class="container-fluid p-t-0 m-t-2 carousel-servizi-3">
        
        {{> card-dim/card-dim
          layout="card-light"
          size-card="mid"
          images="../assets/images/noborder.1.png"
          title-card="Digitalizzazione e Recovery Fund: un treno che va preso al volo"
          description="Recovery Fund e Piano Transizione Digitale 4.0, un'occasione imperdibile per innovare, aumentare le performance e uscire dalla crisi."
          price="6"
          time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3=""
          1-charact="SMART OFFICE"
          2-charact="COLLABORATION"
          3-charact=""
          button-content="LEGGI"
        }}
         {{> card-dim/card-dim
          size-card="mid"
          layout="card-light"
          images="../assets/images/noborder.2.png"
          title-card="L'e-commerce salva l'industria del Mobile"
          description="2020 anno da dimenticare anche per il Mobile, meno male che c’è l'ecommerce."
          price="85"
          time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3="red"
          1-charact="SMART OFFICE" 
          2-charact="COLLABORATION"
          3-charact="PROMO"
          button-content="LEGGI"
        }}
         {{> card-dim/card-dim
          size-card="mid"
          layout="card-light"
          images="../assets/images/noborder.3.png"
          title-card="Imprese, pagamenti elettronici e Covid: un futuro senza contanti?"
          description="Secondo Federdistribuzione, l’uso della moneta elettronica nei mesi dell’emergenza è aumentato di + 11%."
          price="10"
          time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3=""
          1-charact="SMART OFFICE"
          2-charact="STRUMENTI PER L'UFFICIO"
          3-charact=""
          button-content="LEGGI"
        }}
         {{> card-dim/card-dim
          size-card="mid"
          layout="card-light"
          images="../assets/images/noborder.3.png"
          title-card="Imprese, pagamenti elettronici e Covid: un futuro senza contanti?"
          description="Secondo Federdistribuzione, l’uso della moneta elettronica nei mesi dell’emergenza è aumentato di + 11%."
          price="10"
          time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3=""
          1-charact="SMART OFFICE"
          2-charact="STRUMENTI PER L'UFFICIO"
          3-charact=""
          button-content="LEGGI"
        }}
         {{> card-dim/card-dim
          size-card="mid"
          layout="card-light"
          images="../assets/images/noborder.2.png"
          title-card="L'e-commerce salva l'industria del Mobile"
          description="2020 anno da dimenticare anche per il Mobile, meno male che c’è l'ecommerce."
          price="85"
          time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3="red"
          1-charact="SMART OFFICE" 
          2-charact="COLLABORATION"
          3-charact="PROMO"
          button-content="LEGGI"
        }}
         {{> card-dim/card-dim
          size-card="mid"
          layout="card-light"
          images="../assets/images/noborder.1.png"
          title-card="Digitalizzazione e Recovery Fund: un treno che va preso al volo"
          description="Recovery Fund e Piano Transizione Digitale 4.0, un'occasione imperdibile per innovare, aumentare le performance e uscire dalla crisi."
          price="6"
          time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3=""
          1-charact="SMART OFFICE"
          2-charact="COLLABORATION"
          3-charact=""
          button-content="LEGGI"
        }}

      </section>
      </div>
      <div class="row w-100"> 
        <div class="all-services d-flex">
          <div class="col-8 solution-wrap w-80">
            <p class="solution">
              Leggi le news dedicate al mondo digital e fatti ispirare da tante storie di successo.
            </p>
          </div>
          <div class="primary-btn col-4 d-flex">
            <a class="primary-wrap" href="javascript:void(0)">
            <span class="primary">
              LEGGI TUTTO
            </span>
            <img class="img-primary" src="../assets/images/atoms-glyphs-arrow-right-large.png" alt="">
          </a>
          </div>
        </div>




  </div>
