@media (max-width: 768px) {
    .all-services{flex-direction: column; align-items: center; width: 100%!important;}
    .primary-wrap{margin: 0px!important; width: 100%;}
    .solution-wrap{width: 100%!important;}
    .btn-solution{width: 100%;}
}
.servizi_evidenza{

    background-color: white;
    .servizi-title{
        text-align: center;
        font-weight: bold;
        margin-top: 3%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
    }
    .menu-wrap{
        margin-top: 15px;


        &.desktop{
            
            @media (max-width: 840px){
                display: none;
            }
        .menu{
            max-height: 40px;
            width: 100%;
            align-items: end; 
            .menu-item{
                min-height: 50px;
                min-width: 180px;
                .menu-link{
                    font-family: Arial, Helvetica, sans-serif;
                    color: black;
                    height: 100%;
                    text-align: center;
                }
                .menu-link:hover{
                    color: blue;
                    font-weight: bold;
                    border-bottom: 4px solid;
                    border-color: blue;
                }
            }
           
        }
    }
        &.mobile{
            margin: 10px 27px 0px;
            
            @media (min-width: 841px){
                display: none;
            }
            .btn-menu-dd{
                border-radius: 0px;
                background-color: #0050c1;
            }
            .menu-dd{
                border-radius: 0px;
                margin-top: 10px!important;
                background-color: white;
                .dropdown-item{
                    margin-top: 5px;
                    font-weight: bold;
                }
                
            }
                  
        }
    }
    
   
    .slick-prev{
        position: absolute;
        top: 26%;
        padding: 10px;
        border: solid;
        border-width: thin;
        z-index: 1;
    }
    .slick-next{
        position: absolute;
        top: 33%;
        padding: 10px;
        border: solid;
        border-width: thin;
    }

    .carousel-servizi{
        position: relative;
        
    }

    .solution-wrap{
        padding: 4%;
    }
    .btn-solution{
        padding: 4%;
    }
    .primary-wrap{
        background-color: #0050c1;
        color: #fff;
        padding: 12px;
        margin-left: 25%;
        text-decoration: none;
    }
    .img-primary{
        margin-left: 15px;
    }

    .slick-slide{
        margin-right: 30px;
        height: unset;
    }

    .slick-list{
        margin-left: 5%;
        .slick-track{
            display: flex;
        }
    }

    .slick-dots{
    display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: disc;
    }  

    .slick-dots li {
        display: inline-block;
        margin: 0 5px;
    } 
    
    .slick-dots li button {
        font-size: 0;
    	width: 2rem;
    	height: 1px;
        border: solid 1px grey;
        background-color: grey;

    }

    li.slick-active button {
        background-color: blue;
        border-color: blue;
    }
}