<div class="servizi_evidenza" id="Servizi_in_evidenza">
  <div class="container">
    <div class="row w-100">
      <span class="servizi-title">Servizi in evidenza</span>
    </div>
    <div class="row w-100 mt-3">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Smart office</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sicurezza e privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gestionali</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Digital Marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Backup e Cloud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Esperti digitali</a>
        </li>
      </ul>
    </div>


    <div class="carousel slide" data-ride="carousel" id="postsCarousel">
      <section class="container-fluid p-t-0 m-t-2 carousel-servizi">
        
        {{> card-dim/card-dim
          title-card="pippo"
          price="7"
          class="red"
          example="giorgio"
        }}
         {{> card-dim/card-dim
          title-card="antonio"
          price="5"
        }}
         {{> card-dim/card-dim
          title-card="giorgio"
          price="3"
        }}
         {{> card-dim/card-dim
          title-card="pippo"
          price="6"
        }}

      </section>




  </div>
</div>