<div class="servizi_evidenza" id="Servizi_in_evidenza">
  <div class="container">
    <div class="row w-100">
      <span class="servizi-title">Servizi in evidenza</span>
    </div>
    <div class="row w-100 mt-3">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Smart office</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sicurezza e privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gestionali</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Digital Marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Backup e Cloud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Esperti digitali</a>
        </li>
      </ul>
    </div>


    <div class="carousel slide" data-ride="carousel" id="postsCarousel">
      <div class="container">
        <div class="row">
          <div class="col-12 text-right mb-4">
            <a class="btn btn-outline-secondary prev" href="" title="go back"><i
                class="fa fa-lg fa-chevron-left"></i></a>
            <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
          </div>
        </div>
      </div>

      <section class="container-fluid p-t-0 m-t-2 carousel-servizi">
         <div class="card">
              <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
              <div class="card-body">
                <div class="caratteristiche-card d-flex">
                  <div class="caratteristica-1">
                    <p class="caratt-span">SMART OFFICE</p>
                  </div>
                  <div class="caratteristica-2">
                    <p class="caratt-span">COLLABORATION</p>
                  </div>
                </div>
              </div>
            </div>
             <div class="card">
              <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
              <div class="card-body">
                <div class="caratteristiche-card d-flex">
                  <div class="caratteristica-1">
                    <p class="caratt-span">SMART OFFICE</p>
                  </div>
                  <div class="caratteristica-2">
                    <p class="caratt-span">COLLABORATION</p>
                  </div>
                </div>
              </div>
            </div>
             <div class="card">
              <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
              <div class="card-body">
                <div class="caratteristiche-card d-flex">
                  <div class="caratteristica-1">
                    <p class="caratt-span">SMART OFFICE</p>
                  </div>
                  <div class="caratteristica-2">
                    <p class="caratt-span">COLLABORATION</p>
                  </div>
                </div>
              </div>
            </div>
             <div class="card">
              <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
              <div class="card-body">
                <div class="caratteristiche-card d-flex">
                  <div class="caratteristica-1">
                    <p class="caratt-span">SMART OFFICE</p>
                  </div>
                  <div class="caratteristica-2">
                    <p class="caratt-span">COLLABORATION</p>
                  </div>
                </div>
              </div>
            </div>
      {{!--   <div class="row w-100 row-equal carousel-item active m-t-0">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
              <div class="card-body">
                <div class="caratteristiche-card d-flex">
                  <div class="caratteristica-1">
                    <p class="caratt-span">SMART OFFICE</p>
                  </div>
                  <div class="caratteristica-2">
                    <p class="caratt-span">COLLABORATION</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
              <div class="card-body">
                <div class="caratteristiche-card d-flex">
                  <div class="caratteristica-1">SMART OFFICE</div>
                  <div class="caratteristica-2">COLLABORATION</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
              <div class="card-body">
                <div class="caratteristiche-card d-flex">
                  <span class="caratteristica-1">SMART OFFICE</span>
                  <span class="caratteristica-2">COLLABORATION</span>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="row row-equal carousel-item m-t-0">
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
                <div class="card-body">
                  <div class="caratteristiche-card d-flex">
                    <span class="caratteristica-1">SMART OFFICE</span>
                    <span class="caratteristica-2">COLLABORATION</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
                <div class="card-body">
                  <div class="caratteristiche-card d-flex">
                    <div class="caratteristica-1"><span class="caratt-span">SMART OFFICE</span></div>
                    <div class="caratteristica-2"><span class="caratt-span">COLLABORATION</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/prima-card.png" alt="Card image cap">
                <div class="card-body">
                  <div class="caratteristiche-card d-flex">
                    <span class="caratteristica-1">SMART OFFICE</span>
                    <span class="caratteristica-2">SECONA SLIDE</span>
                  </div>
                </div>
              </div>
            </div>
          </div> --}}
      </section>
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
      integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
      integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
      crossorigin="anonymous"></script>
    <script>
      (function ($) {
        "use strict";
        $('.next').click(function () { $('.carousel').carousel('next'); return false; });
        $('.prev').click(function () { $('.carousel').carousel('prev'); return false; });
      })
        (jQuery);
    </script>


  </div>
</div>