<div class="servizi_evidenza" id="Servizi_in_evidenza">
  <div class="container-fluid">
    <div class="row w-100">
      <span class="servizi-title">Servizi in evidenza</span>
    </div>
    <div class="row w-100 menu-wrap desktop flex-column">

      <ul class="nav justify-content-center menu">
        <li class="nav-item menu-item">
          <a class="nav-link menu-link" href="javascript:void(0)">Smart office</a>
        </li>
        <li class="nav-item menu-item">
          <a class="nav-link menu-link" href="javascript:void(0)">Sicurezza e privacy</a>
        </li>
        <li class="nav-item menu-item">
          <a class="nav-link menu-link" href="javascript:void(0)">Gestionali</a>
        </li>
        <li class="nav-item menu-item">
          <a class="nav-link active menu-link" href="javascript:void(0)">Digital Marketing</a>
        </li>
        <li class="nav-item menu-item ">
          <a class="nav-link menu-link" href="javascript:void(0)">Backup e Cloud</a>
        </li>
        <li class="nav-item menu-item">
          <a class="nav-link menu-link" href="javascript:void(0)">Esperti digitali</a>
        </li>
      </ul>

    </div>

    <div class="dropdown row menu-wrap mobile">
        <button class="btn btn-menu-dd btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SMART OFFICE
        </button>
        <div class="dropdown-menu menu-dd" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="javascript:void(0)">Smart office</a>
          <a class="dropdown-item" href="javascript:void(0)">Sicurezza e privacy</a>
          <a class="dropdown-item" href="javascript:void(0)">Gestionali</a>
          <a class="dropdown-item" href="javascript:void(0)">Digital Marketing</a>
          <a class="dropdown-item" href="javascript:void(0)">Backup e Cloud</a>
          <a class="dropdown-item" href="javascript:void(0)">Esperti digitali</a>
        </div>
    </div>


    <div class="carousel slide mt-4" data-ride="carousel" id="postsCarousel">
      <section class="container-fluid p-t-0 m-t-2 carousel-servizi">
        
        {{> card-dim/card-dim
          size-card="large"
          layout="card-border"
          images="../assets/images/first-card.png"
          title-card="TIM Work Smart"
          description="Ovunque, la tua sala riunioni virtuale."
          offer= true
            da = "DA"
            price="6"
            time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3=""
          caratt= true
            1-charact="SMART OFFICE"
            2-charact="COLLABORATION"
            3-charact=""
            button-content="SCOPRI"
        }}
         {{> card-dim/card-dim
          size-card="large"
          layout="card-border"
          images="../assets/images/second-card.png"
          title-card="MICROSOFT 365 Business?"
          description="Porta i tuoi documenti sempre con te, ottimizza il lavoro di squadra."
          offer= true
            price="85"
            time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3="red"
          caratt= true
          1-charact="SMART OFFICE" 
          2-charact="COLLABORATION"
          3-charact="PROMO"
          button-content="SCOPRI"

        }}
         {{> card-dim/card-dim
          size-card="large"
          layout="card-border"
          images="../assets/images/third-card.png"
          title-card="Hostkit"
          description="In un'unica soluzione, dominio, e-mail e spazio per il tuo sito web."
          offer= true
            da = "DA"
            price="10"
            time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3=""
          caratt= true
            1-charact="SMART OFFICE"
            2-charact="STRUMENTI PER L'UFFICIO"
            3-charact=""
          button-content="SCOPRI"
        }}
         {{> card-dim/card-dim
          size-card="large"
          layout="card-border"
          images="../assets/images/third-card.png"
          title-card="Hostkit"
          description="In un'unica soluzione, dominio, e-mail e spazio per il tuo sito web."
          offer= true
            da = "DA"
            price="10"
            time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3=""
          caratt= true
            1-charact="SMART OFFICE"
            2-charact="STRUMENTI PER L'UFFICIO"
            3-charact=""
          button-content="SCOPRI"
        }}
         {{> card-dim/card-dim
          size-card="large"
          layout="card-border"
          images="../assets/images/second-card.png"
          title-card="MICROSOFT 365 Business?"
          description="Porta i tuoi documenti sempre con te, ottimizza il lavoro di squadra."
          offer= true
            price="85"
            time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3="red"
          caratt= true
            1-charact="SMART OFFICE" 
            2-charact="COLLABORATION"
            3-charact="PROMO"
          button-content="SCOPRI"
        }}
         {{> card-dim/card-dim
          size-card="large"
          layout="card-border"
          images="../assets/images/first-card.png"
          title-card="TIM Work Smart"
          description="Ovunque, la tua sala riunioni virtuale."
          offer= true
            da = "DA"
            price="6"
            time="AL MESE"
          color-1="blue"
          color-2="black"
          color-3=""
          caratt= true
            1-charact="SMART OFFICE"
            2-charact="COLLABORATION"
            3-charact=""
          button-content="SCOPRI"
        }}

      </section>
      </div>
      <div class="row w-100"> 
        <div class="all-services d-flex">
          <div class="col-8 solution-wrap w-80">
            <p class="solution">
              Le soluzioni pensate per la vendita di prodotti online, cloud computing, analisi dati, 
              marketing e tutto ciò che serve per promuovere la tua azienda.
            </p>
          </div>
          <div class="col-4 btn-solution d-flex">
            <a class="primary-wrap" href="javascript:void(0)">
            <span class="primary">
              SCOPRI TUTTI I SERVIZI
            </span>
            <img class="img-primary" src="../assets/images/atoms-glyphs-arrow-right-large.png" alt="">
          </a>
          </div>
        </div>



      </div>
  </div>
  </div>
