.wrap-servizi-2{
    background-color: #0033a2;
        .title-wrap{
            text-align: center;
            justify-content: center;
            justify-items: center;
        }
        .new-title{
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            color: white;
        }

        .nav-link{
            color: white;  
        }
        .nav-link:hover{
                font-weight: bold;
                color: white;
                border-color: white;
            }

        .slick-dots li button {
            background-color: blue;  
            border-color: white; 
        }
        .slick-prev{
            border-color: white;
        }
        .slick-next{
            border-color: white;
        }

}