.wrap-servizi-2{
    background-color: #0033a2;
    min-height: 810px;
        .img-wrap{
            position: absolute;
            width: fit-content;
        }

        .head{
            z-index: 1;
        }
        .title-wrap{
            text-align: center;
            justify-content: center;
            justify-items: center;
        }
        .new-title{
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            color: white;
        }
        .menu-wrap-2{
            height: 100%;
            align-items: end;
            &.desktop{
            
                @media (max-width: 840px){
                    display: none;
                }
                .menu-item-2{
                    min-height: 45px;
                    .menu-link-2{
                        color: white; 
                        height: 100%; 
                    }
                    .menu-link-2:hover{
                        font-weight: bold;
                        color: white;
                        border-bottom: 4px solid;
                        border-color: white;
                    }
            }
            }

            &.mobile{
                margin: 0px 27px 0px;
                
                @media (min-width: 841px){
                    display: none;
                }
                .btn-menu-dd-2{
                    border-radius: 0px;
                    background-color: white;
                    color: #0050c1;
                }
                .menu-dd-2{
                    border-radius: 0px;
                    margin-top: 10px!important;
                    background-color: white;
                    .dropdown-item{
                        margin-top: 5px;
                        font-weight: bold;
                    }
                    
                }
            }
            

            
        }
        .carousel-servizi-2{
            position: relative;
        }
        

        .slick-dots li button {
            font-size: 0;
            width: 2rem;
            height: 1px;
            border: solid 1px blue;
            background-color: blue;
        }
        
        li.slick-active button {
            background-color: white;
            border-color: white;
        }
        .slick-prev{
            position: absolute;
            top: 25%;
            padding: 10px;
            border: solid;
            border-width: thin;
            z-index: 1;
            border-color: white;
        }
        .slick-next{
            position: absolute;
            top: 33%;
            padding: 10px;
            border: solid;
            border-width: thin;
            border-color: white;
        }
        .slick-slide{
            margin-right: 30px;
        }
    
        .slick-list{
            margin-left: 5%;
        }
        .slick-dots{
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 1rem 0;
            list-style-type: disc;
            }  
            
            .slick-dots li {
                display: inline-block;
                margin: 0 5px;
            } 
            
           
        

}