<div class="wrap-servizi-2" id="Servizi_2_wrap">
    <div class="container-fluid">
        <div class="row w-100 d-flex">
                <div class="img-wrap">    
                    <img class="img-bg" src="../assets/images/group-25.png" alt="">
                </div>
                <div class="head col-12 d-flex flex-column">        

                    <div class="title-wrap mt-5 p-2">
                    <span class="new-title">Novità</span>
                    </div>

                    <div class="row menu-wrap-2 desktop">
                    <ul class="nav justify-content-center p-2 menu-2">
                        <li class="nav-item menu-item-2">
                            <a class="nav-link menu-link-2" href="#">Smart office</a>
                        </li>
                        <li class="nav-item menu-item-2">
                            <a class="nav-link menu-link-2" href="javascript:void(0)">Sicurezza e privacy</a>
                        </li>
                        <li class="nav-item menu-item-2">
                            <a class="nav-link menu-link-2" href="javascript:void(0)">Digital Marketing</a>
                        </li>
                    </ul>
                    </div>

                    <div class="dropdown row menu-wrap-2 mobile">
                        <button class="btn btn-menu-dd-2 btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SMART OFFICE
                        </button>
                        <div class="dropdown-menu menu-dd-2" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)">Smart office</a>
                        <a class="dropdown-item" href="javascript:void(0)">Sicurezza e privacy</a>
                        <a class="dropdown-item" href="javascript:void(0)">Digital Marketing</a>
                        </div>
                    </div>
                </div>
                

        </div> 
        <div class="carousel slide mt-3" data-ride="carousel" id="postsCarousel">
        <section class="container-fluid p-t-0 m-t-2 carousel-servizi-2">
        
                {{> card-dim/card-dim
                size-card="mid"
                images="../assets/images/blu_card_1.png"
                title-card="Google Workspace Business Standard"
                description="Tutto quello di cui hai bisogno per lavorare in modo flessibile."
                offer= true
                price="8,80"
                time="AL MESE"
                color-1="blue"
                color-2="black"
                color-3="red"
                caratt= true
                1-charact="SMART OFFICE"
                2-charact="COLLABORATION"
                3-charact="PROMO"
                button-content="SCOPRI"
                }}
                {{> card-dim/card-dim
                size-card="mid"
                images="../assets/images/blu_card_2.png"
                title-card="Google Workspace Business Standard"
                description="Porta i tuoi documenti sempre con te, ottimizza il lavoro di squadra."
                offer= true
                price="55"
                time="UNA TANTUM"
                color-1="blue"
                color-2="black"
                color-3=""
                caratt= true
                1-charact="SMART OFFICE" 
                2-charact="FATTURE E PAGAMENTI"
                3-charact=""
                button-content="SCOPRI"
                }}
                {{> card-dim/card-dim
                size-card="mid"
                images="../assets/images/blu_card_3.png"
                title-card="Google Workspace TIM Edition"
                description="Tutto ciò di cui hai bisogno per la tua attività e per lo smart working."
                offer= true
                price="8"
                time="UNA TANTUM"
                color-1="blue"
                color-2="black"
                color-3=""
                caratt= true
                1-charact="SMART OFFICE"
                2-charact="COLLABORATION"
                3-charact=""
                button-content="SCOPRI"
                }}
                {{> card-dim/card-dim
                size-card="mid"
                images="../assets/images/blu_card_1.png"
                title-card="Google Workspace Business Standard"
                description="Tutto quello di cui hai bisogno per lavorare in modo flessibile."
                offer= true
                price="8,80"
                time="AL MESE"
                color-1="blue"
                color-2="black"
                color-3="red"
                caratt= true
                1-charact="SMART OFFICE"
                2-charact="COLLABORATION"
                3-charact="PROMO"
                button-content="SCOPRI"
                }}
                {{> card-dim/card-dim
                size-card="mid"
                images="../assets/images/blu_card_2.png"
                title-card="Google Workspace Business Standard"
                description="Porta i tuoi documenti sempre con te, ottimizza il lavoro di squadra."
                offer= true
                price="55"
                time="UNA TANTUM"
                color-1="blue"
                color-2="black"
                color-3=""
                caratt= true
                1-charact="SMART OFFICE" 
                2-charact="FATTURE E PAGAMENTI"
                3-charact=""
                button-content="SCOPRI"
                }}
                {{> card-dim/card-dim
                size-card="mid"
                images="../assets/images/blu_card_3.png"
                title-card="Google Workspace TIM Edition"
                description="Tutto ciò di cui hai bisogno per la tua attività e per lo smart working."
                offer= true
                price="8"
                time="UNA TANTUM"
                color-1="blue"
                color-2="black"
                color-3=""
                caratt= true
                1-charact="SMART OFFICE"
                2-charact="COLLABORATION"
                3-charact=""
                button-content="SCOPRI"
                }}

        </section>
        </div>
        </div>
    </div>