.container-footer{
    .tim-logo{
        margin-top: 6%;
        margin-left: 3%;
        @include media-breakpoint-down(md){
            margin-left: 2%;
        }
    }
    .paragrafo{
        font-size: 14px;
        line-height: 1.70;
        color: #000;
        font-weight: normal;
        padding: 2%;
        display: block;
        @include media-breakpoint-down(md){
            display: none;
        }
       

    }
    .container-img{
        width: 20px;
        max-height: 21px;
        margin-right: 3%;
        margin-bottom:2% ;
        .img-social{
            width: 100%;
            height: 100%;
            object-fit:cover;

        }
    }
    .accordion{
        display: none;
        @include media-breakpoint-down(md){
            display: block;
        }
        
        .accordion-header{
           
            }
    
        }
    
    .footer-row{
        background-color: #001136;
        color: white;
        .text-right-custom{
            text-align: end;
        }
    }
    
}