<!-- Footer -->
<div class="container-footer" id="footer-example">
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
        <img src="../../assets/images/tim.png">
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 paragrafo">
        <p><b>Informazioni utili</b></p>
        <p>Rimborso ex delibera n. 269/18/CONS</p>
        <p>I vantaggi dell’Area Clienti</p>
        <p>Come registrarsi all’Area Clienti</p>
        <p>Come chiedere trasloco e subentro</p>
        <p>News</p>
        <p>Furto e smarrimento Smartphone</p>

    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 paragrafo">
        <p><b>Strumenti veloci</b></p>
        <p>Come domiciliare la fattura</p>
        <p>Come pagare la fattura</p>
        <p>Come verificare i consumi</p>
        <p>Trova agente</p>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 paragrafo">
        <p><b>Prodotti e servizi</b></p>
        <p>Fibra, FWA e Soluzioni dati</p>
        <p>Tim Unica business</p>
        <p>Web e e-commerce</p>
        <p>Gestione Presenze e Personale</p>
        <p>Cloud computing</p>
        <p>Sicurezza informatica</p>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 paragrafo">
        <p><b>Seguici su</b></p>
        
        <div class="d-flex">
        <div class="container-img mr-3">
            <img class="img-social" src="../../assets/images/atoms-glyphs-facebook.png">  
        </div>
        <p>Facebook</p>
        </div>
        
        <div class="d-flex">
        <div class="container-img mr-3">
            <img class="img-social" src="../../assets/images/atoms-glyphs-twitter.png">  
        </div>
        <p>Twitter</p>
        </div>

        <div class="d-flex">
        <div class="container-img mr-3">
            <img class="img-social" src="../../assets/images/atoms-glyphs-instagram.png">  
        </div>
        <p>Instagram</p>
        </div>
        
        <div class="d-flex">
        <div class="container-img mr-3">
            <img class="img-social" src="../../assets/images/atoms-glyphs-youtube.png">  
        </div>
        <p>Youtube</p>
        </div>

        <div class="d-flex">
        <div class="container-img mr-3">
            <img class="img-social" src="../../assets/images/atoms-glyphs-linkedin.png">  
        </div>
        <p>Linkedin</p>
        </div>
        
        
        
    </div>
</div>
<div class="row footer-row">
    <div class="col-1">

    </div>
    <div class="col-1">

    </div>
    <div class="col-1">

    </div>
    <div class="col-1">

    </div>
    <div class="col-1">

    </div>
    <div class="col-1">

    </div>

</div>
</div>
<!-- Footer -->