<!-- Footer -->
<div class="container-footer container-fluid" id="footer-example">
    <div class="row mb-3 mt-4">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <img class="tim-logo" src="../../assets/images/tim.png">
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 paragraph">
            <p><b>Informazioni utili</b></p>
            <a href="javascript:void(0)">Rimborso ex delibera n. 269/18/CONS</a><br>
            <a href="javascript:void(0)">I vantaggi dell’Area Clienti</a><br>
            <a href="javascript:void(0)">Come registrarsi all’Area Clienti</a><br>
            <a href="javascript:void(0)">Come chiedere trasloco e subentro</a><br>
            <a href="javascript:void(0)">News</a><br>
            <a href="javascript:void(0)">Furto e smarrimento Smartphone</a><br>

        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 paragraph">
            <p><b>Strumenti veloci</b></p>
            <a href="javascript:void(0)">Come domiciliare la fattura</a><br>
            <a href="javascript:void(0)">Come pagare la fattura</a><br>
            <a href="javascript:void(0)">Come verificare i consumi</a><br>
            <a href="javascript:void(0)">Trova agente</a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 paragraph">
            <p><b>Prodotti e servizi</b></p>
            <a href="javascript:void(0)">Fibra, FWA e Soluzioni dati</a><br>
            <a href="javascript:void(0)">Tim Unica business</a><br>
            <a href="javascript:void(0)">Web e e-commerce</a><br>
            <a href="javascript:void(0)">Gestione Presenze e Personale</a><br>
            <a href="javascript:void(0)">Cloud computing</a><br>
            <a href="javascript:void(0)">Sicurezza informatica</a><br>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 paragraph">
            <p><b>Seguici su</b></p>

            <div class="d-flex">
                <div class="container-img mr-3">
                    <img class="img-social" src="../../assets/images/atoms-glyphs-facebook.png">
                </div>
                <a href="javascript:void(0)">Facebook</a>
            </div>

            <div class="d-flex">
                <div class="container-img mr-3">
                    <img class="img-social" src="../../assets/images/atoms-glyphs-twitter.png">
                </div>
                <a href="javascript:void(0)">Twitter</a>
            </div>

            <div class="d-flex">
                <div class="container-img mr-3">
                    <img class="img-social" src="../../assets/images/atoms-glyphs-instagram.png">
                </div>
                <a href="javascript:void(0)">Instagram</a>
            </div>

            <div class="d-flex">
                <div class="container-img mr-3">
                    <img class="img-social" src="../../assets/images/atoms-glyphs-youtube.png">
                </div>
                <a href="javascript:void(0)">Youtube</a>
            </div>

            <div class="d-flex">
                <div class="container-img mr-3">
                    <img class="img-social" src="../../assets/images/atoms-glyphs-linkedin.png">
                </div>
                <a href="javascript:void(0)">Linkedin</a>
            </div>



        </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Informazioni Utili
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        Rimborso ex delibera n. 269/18/CONS
        </div>
        <div class="accordion-body">
        I vantaggi dell’Area Clienti
        </div>
        <div class="accordion-body">
        Come registrarsi all’Area Clienti
        </div>
        <div class="accordion-body">
        Come chiedere trasloco e subentro
        </div>
        <div class="accordion-body">
        News
        </div>
        <div class="accordion-body">
        Furto e smarrimento Smartphone
        </div>
      </div>
      </div>
  
      <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne_1">
        Strumenti veloci
      </button>
    </h2>
    <div id="collapseOne_1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Come domiciliare la fattura
        </div>
        <div class="accordion-body">
        Come pagare la fattura
        </div>
        <div class="accordion-body">
        Come verificare i consumi
        </div>
        <div class="accordion-body">
        Trova agente
        </div>
      </div>
      </div>
  
      <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_2" aria-expanded="false" aria-controls="collapseOne_2">
        Prodotti e servizi
      </button>
    </h2>
    <div id="collapseOne_2" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Fibra, FWA e Soluzioni dati
        </div>
        <div class="accordion-body">
        Tim Unica business
        </div>
        <div class="accordion-body">
        Web e e-commerce
        </div>
        <div class="accordion-body">
        Gestione Presenze e Personale
        </div>
        <div class="accordion-body">
        Cloud computing 
        </div>
        <div class="accordion-body">
        Sicurezza informatica
        </div>
      </div>
      </div>
    </div>
    <div class="social-mobile">
                <p class="paragraph-mobile">Seguici su</p>
            <div class="col-md-12 col-sm-12">
                <div class="container-img-mobile d-flex">
                    <img class="img-social-mobile" src="../../assets/images/atoms-glyphs-facebook.png">
                    <img class="img-social-mobile" src="../../assets/images/atoms-glyphs-twitter.png">
                    <img class="img-social-mobile" src="../../assets/images/atoms-glyphs-instagram.png">
                    <img class="img-social-mobile" src="../../assets/images/atoms-glyphs-youtube.png">
                    <img class="img-social-mobile" src="../../assets/images/atoms-glyphs-linkedin.png">
                </div>
            </div>
    </div>
    <div class="row footer-row p-3">
        <div class="col-lg-1 col-md-3 col-sm-3">
            <a href="javascript:void(0)">Privacy</a>
        </div>
        <div class="col-lg-1 col-md-3 col-sm-3">
            <a href="javascript:void(0)">Note Legali</a>
        </div>
        <div class="col-lg-1 col-md-3 col-sm-3">
            <a href="javascript:void(0)">Website Info</a>
        </div>
        <div class="col-lg-1 col-md-3 col-sm-3">
            <a href="javascript:void(0)">Contatti</a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4">
            <a href="javascript:void(0)">Per i Consumatori</a>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-4">
            <a href="javascript:void(0)">Tutela Minori</a>
        </div>

        <div class="col-lg-1 col-md-4 col-sm-4">
            <a href="javascript:void(0)">Lavora con noi</a>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
            <p class="text-right-custom"> Gruppo TIM © 2020 - P.IVA 00488410010</p>
        </div>

    </div>
</div>
    
<!-- Footer -->