<div  class="container-promo container-fluid" id="promo">
    <div class="row">
        <div class="col-4 d-flex flex-column justify-content-center">
            <p class="title-promo">
                Promozioni
            </p>
            <a class="promotions-link" href="javascript:void(0)">Giga free TIM</a><br>
            <a class="promotions-link" href="javascript:void(0)">Digital Prime</a><br>
            <a class="promotions-link" href="javascript:void(0)">Super Digital</a>
        </div>
        <div class="col-8">
            <div class="container-img">
                <img class="img-promo" src="../../assets/images/tim-promo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4 p-5">
                <p class="title-promo-2">
                    Giga free Tim
                </p>
                <p class="subtitle-promo">
                    Con Giga Free i servizi di TIM Digital Store sono ancora più convenienti
                </p>
            </div>
            <div class="col-4 p-5">
                <button type="button" class="button-offer"><p style="color: blue;">Scopri l'offerta</p></button>
            </div>
            
        </div>
    </div>
</div>