.container-promo{
    background-color: #001136;
    .title-promo{
        font-size: 32px;
        font-weight: bold;
        line-height: 1.31;
        color: white;
        text-align: start;
        padding: 10px 0;
    }
    .title-promo-2{
        font-size: 32px;
        font-weight: bold;
        line-height: 1.31;
        color: white;
    }
    .subtitle-promo{
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .promotions-link{
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: start;
        width: 100%;
        margin: 0;
        height: unset;
        background-color: transparent;
        text-indent: 0px;
        padding: 10px 0;
        border: none;
        position: relative;
        &:hover{
            &:after{
                width: 20%;
                bottom: 0;
                left: 0;
                position: absolute;
                height: 3px;
                background: aquamarine;
                padding: 5px;
            }
        }
    }
    .promotions-link:after{
        content:"";
    }
   
        .img-promo{
            @include media-breakpoint-down(md){
            width: 100%;
            height: 100%;
            object-fit:contain;
            }
        }
    .button-offer{
        padding: 10px 20px;
        background-color: #fff;
    }
    .slick-menu{
        position: unset;
        padding: 50px;
        margin-left: unset;
        margin-bottom: unset;
        margin-right: unset;
    }
    .slick-img{
        position: relative;
        overflow: hidden;
        width: 66.6%;
    }
}