<div class="slick-js-example" id="slickjs-example">
    <div class="wrapper">
        <h2>SlickJS Carousel Example<h2>
        <div class="carousel-slickjs-examples">
            <div class=""><img src="https://picsum.photos/300/200?random=1"></div>
            <div><img src="https://picsum.photos/300/200?random=2"></div>
            <div><img src="https://picsum.photos/300/200?random=3"></div>
            <div><img src="https://picsum.photos/300/200?random=4"></div>
            <div><img src="https://picsum.photos/300/200?random=5"></div>
            <div><img src="https://picsum.photos/300/200?random=6"></div>
        </div>
       {{!--  <div class="your-class">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
        </div> --}}
    </div>
</div>